<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios Web para configurar los valores de la aplicación. Utilice
    la opción Sitio Web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<!--

''' ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
''' HISTORIAL DE DESARROLLO
''' ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
''' Archivo de propiedades para la aplicacion.
''' 
''' Responsable: Herlindo chavez
''' Fecha: 13-07-2009
''' ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
''' MODRECNOTA-SIMIINFORMA24072009 - 24/JUL/2009
''' 
''' DESCRIPCION: Se anexan los keys: 
'''
'''				 "RN_MAIL_SIMIINFORMA"
'''				 "RN_NOM_SIMIINFORMA"
'''
''' Para la configuracion del remitente para el requerimiento 
''' "Recomendar Nota" del SimiInforma.
''' ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
''' MODADDBD-DWCONTACTOMX30072009 - 30/JUL/2009
''' 
''' DESCRIPCION: Se anexan los keys: 
'''
'''				 "SERVERBD"
'''				 "NOMBREBD"
'''				 "USR"
'''				 "PASS"
'''
''' Para la configuracion del Acceso a la BD. 
''' ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
''' MODBTBD-DWCONTACTOMX31072009 - 31/JUL/2009
''' 
''' DESCRIPCION: Se anexan los keys: 
'''
'''				 "BT_DESTINATARIO_ANALISISCLINICOS"
'''				 "BT_CC_ANALISISCLINICOS_1"
'''				 "BT_CC_ANALISISCLINICOS_2"
'''				 "BT_CC_ANALISISCLINICOS_3"
'''
''' Para la configuracion de bolsa de trabajo para analisis clinicos.
''' ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
''' MODBTFDS-DWCONTACTOMX31072009 - 07/AGO/2009
''' 
''' DESCRIPCION: Se anexan los keys: 
'''
'''				 "BT_DESTINATARIO_ANALISISCLINICOS"
'''				 "BT_CC_ANALISISCLINICOS_1"
'''				 "BT_CC_ANALISISCLINICOS_2"
'''				 "BT_CC_ANALISISCLINICOS_3"
'''
''' Para la configuracion de bolsa de trabajo para analisis clinicos.
''' ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
''' MODFUNDRSIMI-DWCONTACTOMX191009 - 19/OCT/2009
''' 
''' DESCRIPCION: se anexan los key's:
''' 
'''			"DESTINATARIO_FUNDACIONDRSIMI"
'''			"CC_FUNDACIONDRSIMI_1"
'''			"CC_FUNDACIONDRSIMI_2"
'''			"CC_FUNDACIONDRSIMI_3"
''' 
''' para la configuracion del "Contactanos" 
''' de la pagina de www.fundaciondrsimi.org.mx.
''' ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''

-->
<configuration>
	<appSettings>
		<!--//////////////////////////////////////////-->
		<!--//INICIA - CONFIGURACION PARA PRODUCCION//-->
		<!--//////////////////////////////////////////-->
		<add key="logPath" value="C:/logs/dwcontactomx_"/>
		<add key="emailDestinatario" value="hchavez@farmaciasdesimilares.com.mx"/>
    <add key="TERMINA" value=""/>
    <!--//////////////////////////////////////////////////-->
		<!--//INICIA - CONFIGURACION PARA CORREO SIMIINFORMA//-->
		<!--//////////////////////////////////////////////////-->


    <add key="DESTINATARIO_SSDRSIMI" value="centrodiagnostico@serfelizsisepuede.com.mx"/>
    <add key="CC_SSDRSIMI_1" value=""/>
    <add key="CC_SSDRSIMI_2" value=""/>
    <add key="CCO_SSDRSIMI_1" value="pubehernandez@farmaciasdesimilares.com.mx"/>
    <add key="CCO_SSDRSIMI_2" value=""/>


    <add key="DESTINATARIO_CARRERA" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_CARRERA_1" value=""/>
    <add key="CC_CARRERA_2" value=""/>
    <add key="CCO_CARRERA_1" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CCO_CARRERA_2" value=""/>

    
    <add key="DESTINATARIO_GUATEMALA" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_GUATEMALA_1" value=""/>
    <add key="CC_GUATEMALA_2" value=""/>
    <add key="CCO_GUATEMALA_1" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CCO_GUATEMALA_2" value=""/>



    <add key="DESTINATARIO_convenciones" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_convenciones_1" value=""/>
    <add key="CC_convenciones_2" value=""/>
    <add key="CCO_convenciones_1" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CCO_convenciones_2" value="mescamilla@farmaciasdesimilares.com.mx"/>



    <add key="DESTINATARIO_laboratoriosbest" value="pubgil@farmaciasdesimilares.com.mx"/>
		<add key="CC_laboratoriosbest_1" value=""/>
		<add key="CC_laboratoriosbest_2" value=""/>
    <add key="CCO_laboratoriosbest_1" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CCO_laboratoriosbest_2" value="mescamilla@farmaciasdesimilares.com.mx"/>

    <!--'''''''''''''''''''''''''''''''''''''''-->
    <!--INICIA - MODRECNOTA-SIMIINFORMA24072009-->
		<!--'''''''''''''''''''''''''''''''''''''''-->
		<!--''''''''''''''''''''''''''''''-->
		<!--Correo para el Recomienda Nota-->
		<!--''''''''''''''''''''''''''''''-->
		<add key="RN_MAIL_SIMIINFORMA" value="varaujo@porunpaismejor.com.mx"/>
		<add key="RN_NOM_SIMIINFORMA" value="Simiinforma"/>
		<!--'''''''''''''''''''''''''''''''''''''''-->
		<!--FINALIZA - MODRECNOTA-SIMIINFORMA24072009-->
		<!--'''''''''''''''''''''''''''''''''''''''-->
		<!--//////////////////////////////////////////////////-->
		<!--//FINALIZA - CONFIGURACION PARA CORREO SIMIINFORMA//-->
		<!--//////////////////////////////////////////////////-->
		<!--//////////////////////////////////////////////////-->
		<!--//INICIA - CONFIGURACION PARA CORREO ANALISIS_CLINICOS//-->
		<!--//////////////////////////////////////////////////-->

    <add key="DESTINATARIO_ANALISISCLINICOS" value="ssconvenios@ssdrsimi.com.mx"/>
		<!--<add key="DESTINATARIO_ANALISISCLINICOS" value="jpastor@ssdrsimi.com.mx"/>
    <add key="CC_ANALISISCLINICOS_1" value="ssconvenios@ssdrsimi.com.mx"/>
		<add key="CC_ANALISISCLINICOS_2" value="ssines@farmaciasdesimilares.com.mx"/>
		<add key="CC_ANALISISCLINICOS_3" value="yanetcruz@ssdrsimi.com.mx"/>
		<add key="CCO_ANALISISCLINICOS_1" value="pubgil@farmaciasdesimilares.com.mx"/>-->
		
    <!--'''''''''''''''''''''''''''''''''''''''-->
		<!--INICIA - MODBTBD-DWCONTACTOMX31072009-->
		<!--'''''''''''''''''''''''''''''''''''''''-->
		<add key="BT_DESTINATARIO_ANALISISCLINICOS" value="ssisalia@ssdrsimi.com.mx"/>
		<add key="BT_CC_ANALISISCLINICOS_1" value="pubgil@farmaciasdesimilares.com.mx"/>
		<add key="BT_CC_ANALISISCLINICOS_2" value=""/>
		<add key="BT_CC_ANALISISCLINICOS_3" value=""/>
		<!--'''''''''''''''''''''''''''''''''''''''-->
		<!--FINALIZA - MODBTBD-DWCONTACTOMX31072009-->
		<!--'''''''''''''''''''''''''''''''''''''''-->
		<!--//////////////////////////////////////////////////-->
		<!--//FINALIZA - CONFIGURACION PARA CORREO ANALISIS_CLINICOS//-->
		<!--//////////////////////////////////////////////////-->
		<!--//////////////////////////////////////////////////-->
		<!--//INICIA - CONFIGURACION PARA CORREO NINOSEUGENIA//-->
		<!--//////////////////////////////////////////////////-->
		<add key="DESTINATARIO_NINOSEUGENIA" value="pubgil@farmaciasdesimilares.com.mx"/>
    <!--<add key="CC_NINOSEUGENIA_1" value="mescamilla@farmaciasdesimilares.com.mx"/>-->
		<add key="CC_NINOSEUGENIA_2" value=""/>
		<add key="CC_NINOSEUGENIA_3" value=""/>
		<!--//////////////////////////////////////////////////-->
		<!--//FINALIZA - CONFIGURACION PARA CORREO NINOSEUGENIA//-->
		<!--//////////////////////////////////////////////////-->
		<!--//////////////////////////////////////////////////-->
		<!--//INICIA - CONFIGURACION PARA CORREO DR SIMI//-->
		<!--//////////////////////////////////////////////////-->
		<add key="DESTINATARIO_DRSIMI" value="pubgil@farmaciasdesimilares.com.mx"/>
		<add key="CC_DRSIMI_1" value="mescamilla@farmaciasdesimilares.com.mx"/>
		<add key="CC_DRSIMI_2" value=""/>
		<add key="CC_DRSIMI_3" value=""/>
		<!--//////////////////////////////////////////////////-->
		<!--//FINALIZA - CONFIGURACION PARA CORREO DR SIMI//-->
		<!--//////////////////////////////////////////////////-->
		<!--'''''''''''''''''''''''''''''''''''''''-->
		<!--INICIA - MODBTFDS-DWCONTACTOMX31072009-->
		<!--'''''''''''''''''''''''''''''''''''''''-->
		<add key="DESTINATARIO_FARMACIASDESIMILARES" value=""/>
		<add key="CC_FARMACIASDESIMILARES_1" value=""/>
		<add key="CC_FARMACIASDESIMILARES_2" value=""/>
		<add key="CC_FARMACIASDESIMILARES_3" value=""/>

    <!--'''''''''''''''''''''''''''''''''''''''-->
    <add key="DESTINATARIO_FARM_FRANQUICIAS" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_FARM_FRANQUICIAS_1" value=""/>
    <!--'''''''''''''''''''''''''''''''''''''''-->    
    <add key="DESTINATARIO_FARM_PROD_PROVEEDORES" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_FARM_PROD_PROVEEDORES_1" value=""/>
    <!--'''''''''''''''''''''''''''''''''''''''-->
    <add key="DESTINATARIO_FARM_PROD_FARMACIAS" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_FARM_PROD_FARMACIAS_1" value=""/>
    <!--'''''''''''''''''''''''''''''''''''''''-->
    <add key="DESTINATARIO_FARM_QUEJAS" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_FARM_QUEJAS_1" value=""/>
    <!--'''''''''''''''''''''''''''''''''''''''-->
    <add key="DESTINATARIO_FARM_SUGERENCIAS" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_FARM_SUGERENCIAS_1" value=""/>
    <!--'''''''''''''''''''''''''''''''''''''''-->
    <add key="DESTINATARIO_FARM_OTROS" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_FARM_OTROS_1" value=""/>
    <!--'''''''''''''''''''''''''''''''''''''''-->
    
    <!--FINALIZA - MODBTFDS-DWCONTACTOMX31072009-->
		<!--'''''''''''''''''''''''''''''''''''''''-->
		<!--'''''''''''''''''''''''''''''''''''''''-->
		<!--INICIA - MODFUNDRSIMI-DWCONTACTOMX191009-->
		<!--'''''''''''''''''''''''''''''''''''''''-->
		<add key="DESTINATARIO_FUNDACIONDRSIMI" value="hchavez@farmaciasdesimilares.com.mx"/>
		<add key="CC_FUNDACIONDRSIMI_1" value=""/>
		<add key="CC_FUNDACIONDRSIMI_2" value=""/>
		<add key="CC_FUNDACIONDRSIMI_3" value=""/>
    
    <!--INICIA - MODSIMICONDON-DWCONTACTOMX12042010-->
    <!--'''''''''''''''''''''''''''''''''''''''-->
    <add key="DESTINATARIO_SIMICONDON" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_SIMICONDON_1" value=""/>
    <add key="CC_SIMICONDON_2" value=""/>
    <add key="CC_SIMICONDON_3" value=""/>
    <!--'''''''''''''''''''''''''''''''''''''''-->
		<!--FINALIZA - MODFUNDRSIMI-DWCONTACTOMX191009-->
		<!--'''''''''''''''''''''''''''''''''''''''-->

    <!--//////////////////////////////////////////////////-->
    <!--//INICIA - CONFIGURACION PARA CORREO QUEJAS_AC//-->
    <!--//////////////////////////////////////////////////-->

    <add key="DESTINATARIO_ANALISISCLINICOS_QUEJAS" value="pubgil@farmaciasdesimilares.com.mx"/>
    <!--<add key="DESTINATARIO_ANALISISCLINICOS_QUEJAS" value="doctorsimi@farmaciasdesimilares.com.mx"/>
    <add key="CC_ANALISISCLINICOSQ_1" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_ANALISISCLINICOSQ_2" value=""/>
    <add key="CC_ANALISISCLINICOSQ_3" value=""/>
    <add key="CC_ANALISISCLINICOSQ_3" value=""/>-->


    <add key="DESTINATARIO_ANALISISCLINICOS_DENUNCIAS" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_ANALISISCLINICOSD_1" value=""/>
    <add key="CC_ANALISISCLINICOSD_2" value=""/>
    <add key="CC_ANALISISCLINICOSD_3" value=""/>
    <add key="CCO_ANALISISCLINICOSD_1" value="pubgil@farmaciasdesimilares.com.mx"/>


    <!--'''''''''''''''''''''''''''''''''''''''-->
    <!--//FINALIZA - MODQUEJAS_AC//-->
    <!--'''''''''''''''''''''''''''''''''''''''-->

    <!--//////////////////////////////////////////////////-->
    <!--//INICIA - CONFIGURACION PARA CORREO QUEJAS_AC//-->
    <!--//////////////////////////////////////////////////-->

    <add key="DESTINATARIO_ANALISISCLINICOS_CONVENIOS" value="pubgil@farmaciasdesimilares.com.mx"/>
    <!--<add key="DESTINATARIO_ANALISISCLINICOS_CONVENIOS" value="sscarlosa@farmaciasdesimilares.com.mx"/>
    <add key="CC_ANALISISCLINICOSC_1" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_ANALISISCLINICOSC_2" value=""/>
    <add key="CC_ANALISISCLINICOSC_3" value=""/>
    <add key="CC_ANALISISCLINICOSC_3" value=""/>-->


    <!--//////////////////////////////////////////////////-->
    <!--//INICIA - CONFIGURACION PARA CORREO FUNDACIONBEST//-->
    <!--//////////////////////////////////////////////////-->
    <add key="DESTINATARIO_FUNDACIONBEST" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_FUNDACIONBEST_1" value="alfa_romeo_1974@hotmail.com"/>
    <add key="CC_FUNDACIONBEST_2" value=""/>
    <add key="CC_FUNDACIONBEST_3" value=""/>
    <!--'''''''''''''''''''''''''''''''''''''''-->

    <!--//////////////////////////////////////////////////-->
    <!--//INICIA - CONFIGURACION PARA CORREO FUNDACIONBEST//-->
    <!--//////////////////////////////////////////////////-->
    <add key="DESTINATARIO_CHILE_FARMACIAS" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_CHILE_FARMACIAS_1" value="alfa_romeo_1974@hotmail.com"/>
    <add key="CC_CHILE_FARMACIAS_2" value=""/>
    <add key="CC_CHILE_FARMACIAS_3" value=""/>
    <add key="CCO_CHILE_FARMACIAS_1" value=""/>
    <!--'''''''''''''''''''''''''''''''''''''''-->


    <!--//////////////////////////////////////////////////-->
    <!--//INICIA - CONFIGURACION PARA CORREO FUNDACIONBEST//-->
    <!--//////////////////////////////////////////////////-->
    <add key="DESTINATARIO_MNA" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_MNA_1" value="alfa_romeo_1974@hotmail.com"/>
    <add key="CC_MNA_2" value=""/>
    <add key="CC_MNA_3" value=""/>
    <add key="CCO_MNA_1" value=""/>
    <!--'''''''''''''''''''''''''''''''''''''''-->


    <!--'''''''''''''''''''''''''''''''''''''''-->
    <!--//FINALIZA - MODCONVENIOS_AC//-->
    <!--'''''''''''''''''''''''''''''''''''''''-->

    <!--//////////////////////////////////////////////////-->
		<!--//INICIA - CONFIGURACION PARA CONTENIDO DE TABLA DE DATOS//-->
		<!--//////////////////////////////////////////////////-->
		<add key="EstiloEncabezado" value="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-style:normal; line-height:normal; font-weight:bold; font-variant:normal; text-transform:none; color:#51604B"/>
		<add key="EstiloContenido" value="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-style:normal; line-height:normal; font-weight:normal; font-variant:normal; text-transform:none; color: #7e7d7d"/>
		<!--//////////////////////////////////////////////////-->
		<!--//FINALIZA - CONFIGURACION PARA CONTENIDO DE TABLA DE DATOS//-->
		<!--//////////////////////////////////////////////////-->

    
    
    
    
    
    <!--//////////////////////////////////////////////////-->
		<!--//INICIA - CONFIGURACION PARA SERVIDOR STMP//-->
		<!--//////////////////////////////////////////////////-->
		<add key="STMPServer" value="200.34.206.95"/>
		<add key="STMPUSR" value="admcweb"/>
		<add key="STMPUSRPASS" value="web159++"/>
		<!--//////////////////////////////////////////////////-->
		<!--//FINALIZA - CONFIGURACION PARA SERVIDOR STMP//-->
		<!--//////////////////////////////////////////////////-->

    
    
    


    
    <!--'''''''''''''''''''''''''''''''''''''''-->
		<!--INICIA - MODADDBD-DWCONTACTOMX30072009-->
		<!--'''''''''''''''''''''''''''''''''''''''-->
		<add key="SERVERBD" value="10.1.3.14"/>
		<add key="NOMBREBD" value="dw_contactomx"/>
		<add key="USR" value="dw_contactomx"/>
		<add key="PASS" value="0tc4tn0c"/>
		<!--'''''''''''''''''''''''''''''''''''''''-->
		<!--FINALIZA - MODADDBD-DWCONTACTOMX30072009-->
		<!--'''''''''''''''''''''''''''''''''''''''-->


    <!--'''''''''''''''''''''''''''''''''''''''-->
    <!--INICIA - MODADDBD-PARA DESTINATARIOS DE BT ANALISISCLINICOS DATOS ADJUNTOS-->
    <!--'''''''''''''''''''''''''''''''''''''''-->
    <add key="DestBolsadeTrabajo_AC" value="ssisalia@ssdrsimi.com.mx"/>
    <add key="CopiaBolsadeTrabajo_AC1" value=" "/>
    <add key="CopiaBolsadeTrabajo_AC2" value=" "/>
    <add key="CopiaOcultaBolsadeTrabajo_AC1" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CopiaOcultaBolsadeTrabajo_AC2" value="mescamilla@farmaciasdesimilares.com.mx"/>
    <!--'''''''''''''''''''''''''''''''''''''''-->
    <!--FINALIZA - MODADDBD-DWCONTACTOMX30072009-->
    <!--'''''''''''''''''''''''''''''''''''''''-->


    <!--INICIA - PORUNPAISMEJOR-->
    <!--'''''''''''''''''''''''''''''''''''''''-->
    <add key="DESTINATARIO_PORUNPAISMEJOR" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CC_PORUNPAISMEJOR_1" value="pubmarisol@farmaciasdesimilares.com.mx"/>
    <add key="CC_PORUNPAISMEJOR_2" value=""/>
    <add key="CC_PORUNPAISMEJOR_3" value=""/>
    <add key="CCC_PORUNPAISMEJOR_1" value="pubgil@farmaciasdesimilares.com.mx"/>
    <add key="CCC_PORUNPAISMEJOR_2" value="pubgil@farmaciasdesimilares.com.mx"/>
    <!--'''''''''''''''''''''''''''''''''''''''-->
    <!--FINALIZA - PORUNPAISMEJOR-->
    <!--'''''''''''''''''''''''''''''''''''''''-->




  </appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este proceso 
            afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.

            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de todos los tipos de datos 
            donde se pueda producir una pérdida de datos. 
            Establezca explicit="true" para forzar la declaración de todas las variables.
        -->
		<compilation debug="true" strict="false" explicit="true">
		</compilation>
		<pages validateRequest="false">
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Generic"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
		</pages>
		<!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
		<authentication mode="Windows"/>
		<!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
			
        </customErrors>
        -->
	</system.web>
</configuration>
