<!doctype html>
<html ng-app="cndeeApp">

<head>
    <meta charset="utf-8">
    <title ng-bind-html="pageTitulo + ' | CNDEE - Ser Feliz sí se puede'"></title>
    <meta name="description" content="El CNDEE está conformado por un equipo de psicólogos con diversas especialidades y corrientes terapéuticas que ofrecen apoyo y orientación psicológica gratuita. Acercate a nosotros, queremos ayudarte.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="salud emocional, ayuda psicologica, orientación, felicidad, depresión, sexualidad, adicciones, enfermedades emocionales, crecimiento emocional, problemas de pareja, familia, violencia, problemas de obesidad" name="Keywords"></meta>   
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- endbuild -->
</head>

<body ng-swipe-right="regresa()">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div class="header">
        <div id="navegacion" class="navbar navbar-default" role="navigation">
            <div class="container navegacion">
                <div class="navbar-header">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 visible-xs visible-sm hidden-md hidden-lg">
                            <p>
                                <a ui-sref="inicio"><img src="images/logo.png" alt="CNDEE logo"></a>
                            </p>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="js-navbar-collapse">
                    <div class="hidden-md hidden-lg navTitle">Secciones</div>
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: inicio}">
                            <a class="hvr-sweep-to-left hidden-xs hidden-sm" ui-sref="inicio"><span>Inicio</span></a>
                            <a class="hvr-sweep-to-left hidden-md hidden-lg" ui-sref="inicio" data-toggle="collapse" data-target=".navbar-collapse"><span>Inicio</span></a>
                        </li>
                        <li ng-class="{active: nosotros}">
                            <a class="hvr-sweep-to-left hidden-xs hidden-sm" ui-sref="nosotros"><span>Nosotros</span></a>
                            <a class="hvr-sweep-to-left  hidden-md hidden-lg" ui-sref="nosotros" data-toggle="collapse" data-target=".navbar-collapse"><span>Nosotros</span></a>
                        </li>
                        <li ng-class="{active: salud}">
                            <a class="hvr-sweep-to-left hidden-xs hidden-sm" ui-sref="salud-emocional"><span>Salud emocional</span></a>
                            <a class="hvr-sweep-to-left hidden-md hidden-lg" ui-sref="salud-emocional" data-toggle="collapse" data-target=".navbar-collapse"><span>Salud emocional</span></a>
                        </li>
                        <li ng-class="{active: sexualidad}">
                            <a class="hvr-sweep-to-left hidden-xs hidden-sm" ui-sref="sexualidad"><span>Sexualidad</span></a>
                            <a class="hvr-sweep-to-left hidden-md hidden-lg" ui-sref="sexualidad" data-toggle="collapse" data-target=".navbar-collapse"><span>Sexualidad</span></a>
                        </li>
                        <li class="hidden-md hidden-lg">
                            <a class="hvr-sweep-to-left" ui-sref="pareja" data-toggle="collapse" data-target=".navbar-collapse"><span>Pareja</span></a>
                        </li>
                        <li class="hidden-md hidden-lg">
                            <a class="hvr-sweep-to-left" ui-sref="adicciones" data-toggle="collapse" data-target=".navbar-collapse"><span>Adicciones</span></a>
                        </li>
                        <li class="hidden-md hidden-lg">
                            <a class="hvr-sweep-to-left" ui-sref="familia" data-toggle="collapse" data-target=".navbar-collapse"><span>Familia</span></a>
                        </li>
                        <li class="hidden-md hidden-lg">
                            <a class="hvr-sweep-to-left" ui-sref="ninos" data-toggle="collapse" data-target=".navbar-collapse"><span>Niños</span></a>
                        </li>
                        <li class="hidden-md hidden-lg">
                            <a class="hvr-sweep-to-left" ui-sref="violencia" data-toggle="collapse" data-target=".navbar-collapse"><span>Violencia</span></a>
                        </li>
                        <li class="hidden-md hidden-lg">
                            <a class="hvr-sweep-to-left" ui-sref="tercera-edad" data-toggle="collapse" data-target=".navbar-collapse"><span>Tercera Edad</span></a>
                        </li>
                        <li ng-class="{active: test}">
                            <a class="hvr-sweep-to-left hidden-xs hidden-sm" ui-sref="test"><span>Test</span></a>
                            <a class="hvr-sweep-to-left hidden-md hidden-lg" ui-sref="test" data-toggle="collapse" data-target=".navbar-collapse"><span>Test</span></a>
                        </li>
                        <li ng-class="{active: contacto}">
                            <a class="hvr-sweep-to-left hidden-xs hidden-sm" ui-sref="contacto"><span>Contacto</span></a>
                            <a class="hvr-sweep-to-left hidden-md hidden-lg" ui-sref="contacto" data-toggle="collapse" data-target=".navbar-collapse"><span>Contacto</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="jumbotron logot hidden-sm hidden-xs">
        <a ui-sref="inicio"><img src="images/logo.png" alt="CNDEE logo"></a>
    </div>
    <div class="jumbotron slogan">
        <p>Queremos ayudarte a ver tu vida desde un punto de vista diferente.</p>
    </div>
    <div class="jumbotron views">
        <div id="contenido" class="animado" ui-view="home"></div>
    </div>
    <section class="barraContainer">
        <div class="container-fluid siminotasVideos" ui-view="barra" autoscroll="false"></div>
    </section>
    <!-- SIMINOTAS -->
    <div class="footer">
        <div class="container">
            <p>© Copyright 2016. Centro Nacional de Diagnóstico para las Enfermedades Emocionales | Aviso legal | Aviso de privacidad</p>
        </div>
    </div>
    <div class="notasAlternas">
        <div class="btn-group" role="group" aria-label="...">
            <button id="prevBtn" type="button" class="btn btn-default btn-lg" ng-click="otraNota('prev')" data-toggle="tooltip" data-placement="bottom" data-original-title="{{toolPrev}}"><span class="badge"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></span> Anterior</button>
            <button id="nextBtn" type="button" class="btn btn-default btn-lg" ng-click="otraNota('next')" data-toggle="tooltip" data-placement="bottom" data-original-title="{{toolNext}}">Siguiente <span class="badge"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span>
            </button>
        </div>
    </div>    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    </script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/contacto.js"></script>
    <script src="scripts/controllers/salud.js"></script>
    <script src="scripts/controllers/sexualidad.js"></script>
    <script src="scripts/controllers/test.js"></script>
    <script src="scripts/controllers/barra.js"></script>
    <script src="scripts/controllers/articulos.js"></script>
    <script src="scripts/services/loaddata.js"></script>
    <script src="scripts/controllers/articulo.js"></script>
    <script src="scripts/controllers/pareja.js"></script>
    <script src="scripts/controllers/adicciones.js"></script>
    <script src="scripts/controllers/familia.js"></script>
    <script src="scripts/controllers/ninos.js"></script>
    <script src="scripts/controllers/violencia.js"></script>
    <script src="scripts/controllers/tercera.js"></script>
    <script src="scripts/services/_.js"></script>
    <script src="scripts/services/getnextprev.js"></script>
    <script src="scripts/controllers/cuestionario.js"></script>
    <script src="scripts/services/testtitle.js"></script>
    <script src="scripts/services/prettyurl.js"></script>
    <script src="scripts/controllers/redes.js"></script>
    <script src="scripts/services/contactsrv.js"></script>
    <script src="scripts/services/angularSeo.js"></script>
    <!-- endbuild -->
</body>

</html>
