<div class="articulo">
	<h1>¿Acaso seré yo?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/salud_emocional_main.jpg" alt="">
    <p>Quizá en algún momento nos hemos preguntado "¿acaso seré yo?" Parte de las reflexiones que sirven en momentos de crisis tienen que ver con nuestra inteligencia para dudar, cuestionarnos, hablarnos, aunque en pocas ocasiones se logra tener una charla con nosotros mismos.</p> 

    <p>Cuando conseguimos esto, es probable que reflexionemos acerca de lo que ocurre en nuestro comportamiento y preguntarnos, ¿cómo nos ven los demás?</p>

    <p>Muchos conflictos se pueden ahorrar cuando nos permitimos poner las situaciones "en balanza", "poner las cartas sobre la mesa", de forma tranquila, darnos unos segundos antes de explotar en el conflicto.</p>

    <p>Esto es usar la prudencia, hablar del problema, apoyándonos en nuestras reflexiones para aclarar o conciliar, más que para discutir.</p>

    <p>Sin embargo, no con todas las personas se llega a tener tal paciencia; por tanto, es un ejercicio sano poder llegar a identificar ¿qué nos causa tanto enojo de esa persona?, ¿por qué no podemos mantener la calma con ella? y ¿cómo le hago para no tener conflictos?, en fin, saber por qué la sola presencia de esa persona puede causarnos reacciones incómodas o agresivas.</p>

    <p>Cuando nos decimos "no soporto a tal o cual persona", valdría la pena preguntarnos si eso que percibimos del otro es real o atribuido por nosotros, ya que podrían ser solo algunas actitudes o actividades que nos causan molestia y podemos, al detectarlas, buscar ayuda profesional para mejorar la convivencia.</p>

    <p>Por otro lado, si identificamos que "no soporto a nadie", y hay agresiones constantes hacia los demás, prejuicios, acusaciones y alejamiento hacia todos, bien valdría la pena buscar asesoría psicológica para evitar conflictos, principalmente con las personas que más queremos. Es sano, pues, buscar qué está generando tanta frustración, que se refleja en esa intolerancia hacia los demás.</p>

    <p>Si has considerado estas dudas o conoces a alguien que las tenga, menciónale que existen opciones para atenderse y aprender a tener mejores relaciones.</p>

	<hr>
</div>