<div class="articulo">
	<h1>Agresividad Infantil</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/agresividad_infantil.jpg" alt="">
    <p><span>Como se manifiesta la agresividad en los niños:</span></p>

    <p>Quién no ha escuchado a alguna mamá, papá o docente quejarse de que tiene un hijo u alumno muy agresivo, pero a que se refieren exactamente. La agresividad infantil esta caracterizada por una serie de comportamientos como: actos de desobediencia ante una autoridad, como el docente por ejemplo, o a las reglas establecidas por los padres en el hogar; episodios de cólera, destrucción de cosas materiales, amenazas verbales, llanto excesivo y gritos sin razón así como ataques de rabia por mencionar algunos.</p>

    <p>Es innegable que existe una poca tolerancia a la frustración, así como una impulsividad que lleva a realizar este tipo de actos en los niños sin considerar las consecuencias que pueda acarrearles o el daño que puedan ocasionarse u ocasionar a un tercero.</p>

    <p><span>De donde surge:</span></p>

    <p>Existen varias teorías al respecto y dentro de estas quiero tocar solo una, el aprendizaje social a través de la observación. La mayoría de los padres han aprendido a desempeñar su rol a través de su propia crianza, es por ello una generalidad que se repitan los mismos patrones de crianzas que sus padres usaron con ellos. Como parte del proceso de socialización, los padres necesitan estar conscientes de la influencia que ellos ejercen sobre sus hijos a través de su ejemplo, lo cual según el aprendizaje social nos dice que los niños aprenden formas de comportarse en base al comportamiento de sus padres.</p>

    <p><span>Como tratarla:</span></p>

    <p>Partiendo de que las conductas agresivas tienen su origen y mantenimiento en el seno familiar, se han elaborado una serie de recomendaciones para obtener un estilo de educación distinto al planteado y que ofrezca una mejor educación de los hijos, estas son:</p>

    <ol type="1">
        <li>La comunicación frecuente entre padres e hijos. </li>
        <li>Incentivar la colaboración mutua entre todos los integrantes del hogar. </li>
        <li>Demostraciones de afecto. </li>
        <li>La reunión familiar para establecer las normas, dar y recibir afecto así como establecer en el hogar de forma clara y precisa, los deberes y derechos de cada uno de los integrantes de la familia y exponer la responsabilidad de asumir las consecuencias de los actos. </li>
        <li>Estimular la confianza y el respeto mutuo. </li>
        <li>Propiciar la asertividad en todos los miembros de la familia. </li>
        <li>Que los padres sean coherentes con lo que se pide y se hace. Predicar con el ejemplo. </li>
    </ol>

    <p>Si pese a lo antes descrito, el niño (en especial el preescolar), emite conductas agresivas, las siguientes indicaciones ofrecen sugerencias para manejar estas conductas:</p>

    <ol type="1">
        <li>Un niño debe aprender que una conducta agresiva de cualquier tipo es inaceptable. En el momento que su niño emita una conducta agresiva, llévelo a un rincón de la habitación y explíquele simple y firmemente que no le está permitido golpear, morder, patear, etc.</li>
        <li>Es un error responder con agresión a la conducta agresiva de un niño. </li>
        <li>Evite utilizar expresiones en contra del niño, tales como "eres malo, incorregible, insoportable", deberías de ser como..., ya me tienes harta, etc. </li>
        <li>Refuerce positivamente cuando se comporte en forma correcta y amable con los demás; como el dar un abrazo y un beso en estas situaciones a parte de servir como un reforzador estrecha más la relación del niño con los padres. </li>
        <li>Preste especial atención a su conducta en situaciones grupales, y esté listo para intervenir en caso de que su hijo comience con actitudes hostiles hacia los demás. </li>
    </ol>

    <p>Si estas conductas aumentan en frecuencia y se mantienen en el tiempo, alterando el funcionamiento del pequeño y su familia, entonces es hora de acudir a una ayuda especializada.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>