<!-- Example row of columns -->
<div class="row barraView">
	<div class="col-md-4 col-sm-12 col-xs-12">
	  <h2>Artículos</h2>
	  <img class="hidden-xs hidden-sm" src="images/headsLine.png" alt="">
	  <p class="hidden-md hidden-lg"><img src="images/headsLine-xs.png" alt=""></p>
	  <div ng-include="'views/articulos.html'"></div>
	</div>
	<div class="col-md-4 col-sm-12 col-xs-12">
	  <h2>Ligas de interés</h2>
	  <img class="hidden-xs hidden-sm" src="images/headsLine.png" alt="">
	  <p class="hidden-md hidden-lg"><img src="images/headsLine-xs.png" alt=""></p>
	  <div ng-include="'views/ligas.html'"></div>
	</div>
	<div class="col-md-4 col-sm-12 col-xs-12">
	  <h2>Asesorías gratuitas</h2>
	  <img class="hidden-xs hidden-sm" src="images/headsLine.png" alt="">
	  <p class="hidden-md hidden-lg"><img src="images/headsLine-xs.png" alt=""></p>
	  <div ng-include="'views/asesorias.html'"></div>
	</div>
</div>