<div class="articulo">
	<h1>Cambios físicos y enfermedades comunes</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/tercera_main.jpg" alt="">
    <p>Los cambios físicos incluyen cierta pérdida de pigmentación, textura y elasticidad de la piel; encanecimiento y escasez de cabello; reducción del tamaño corporal; disminución visual y auditiva, adelgazamiento de los huesos, así como la tendencia a dormir menos.</p>

    <p>Aunque el cerebro cambia con la edad, los cambios varían y en general son pocos. Estos cambios incluyen pérdida o reducción de células nerviosas y disminución general de las respuestas.</p>

    <p>El deterioro de la salud mental no es característico de la última etapa de la vida, las enfermedades mentales son menos comunes en los ancianos que en los más jóvenes. Sin embargo, las perturbaciones mentales y de comportamiento que se presentan pueden ser devastadoras. La Demencia es el deterioro cognitivo y de comportamiento de origen fisiológico. La demencia, en contra de lo que se cree, no es una condición inevitable ya que se puede prevenir mediante diagnósticos y tratamiento tempranos. El Alzheimer es un trastorno cerebral degenerativo, progresivo. La enfermedad de Parkinson incluye degeneración neurológica progresiva, se caracteriza por temblores, rigidez, movimientos lentos y posición inestable.</p>

    <p>Muchos ancianos y sus familias creen que no existe remedio para los problemas mentales y de comportamiento, sin embargo la mayoría de ellos si son detectados a tiempo, pueden tener un buen pronóstico. El practicar algún ejercicio puede mejorar la fortaleza muscular, el equilibrio, el tiempo de reacción y la concentración. Por todo lo anterior es muy importante consultar al médico geriatra ante cualquier cambio que se presente en tu salud.</p>

    <p><span>Recomendaciones para disfrutar de esta etapa.</span></p>

    <ol type="1">
        <li>Dedica tu energía y atención a recordar todo lo que has cosechado y no a todo lo que has perdido </li>
        <li>A cada recuerdo que venga a tu mente busca el significado positivo </li>
        <li>Recupera tu vida, aprovecha tu tiempo para darte toda la atención y cuidado que no pudiste darte antes por tener que atender a los demás </li>
        <li>Si los demás no te buscan, búscalos tú mismo, no te aísles ni te encierres </li>
        <li>Reúnete con personas que gusten de las mismas actividades que las tuyas y forma grupos </li>
        <li>Realiza actividades recreativas, y practica algún deporte </li>
        <li>Acude regularmente con tu medico </li>
        <li>Acércate a la gente que amas </li>
        <li>Apóyate con amigos y familiares en momentos de crisis </li>
        <li>Acércate a la naturaleza y desarrolla tu espiritualidad </li>
    </ol>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p> 

	<hr>
</div>