<div class="articulo">
	<h1>Cáncer y apoyo psicológico</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por Lic. Amy Torres Rodríguez</i></span></p>
	<img src="images/salud_emocional_main.jpg" alt="">
    <p>Una de las enfermedades más preocupantes a nivel mundial, es el cáncer de mama que a lo largo de los años, se ha intentado prevenir a través de diversos medios y aspectos políticos, sociales, deportivos, etcétera.</p> 

    <p>No obstante, a veces resulta insuficiente toda esa información y asesoramiento ya que al ser diagnosticada con tal padecimiento, la mujer pudiera tener diversas afectaciones psicológicas como disminución en la capacidad para resolver problemas, ansiedad, depresión, culpa, ideas de sentirse incompletas, fallas en las relaciones interpersonales, etc. Tornándose así uno de los momentos más angustiantes no solo mentalmente sino corporales con las implicaciones físicas que tendrán en el tratamiento mismo.</p>

    <p>Devienen cambios en la percepción de sí mismas, posibles problemas en el área laboral, sentimental y/o familiar, preocupaciones por el procedimiento e ideas de muerte. Es en éste momento en que pudiera adoptar conductas lastimosas como suspensión de los medicamentos, dejar de hacer las actividades placenteras o que favorezcan su salud.</p>

    <p>No obstante, la angustia pudiera continuar incluso después de haber superado el cáncer, pues se involucra un nuevo reto, una nueva integración, una nueva imagen corporal y chequeos constantes que pudieran fomentar un miedo por volver a adquirir la enfermedad.</p>

    <p>Algunas mujeres se someten a cirugías plásticas para una reconstrucción teniendo efectos positivos como; mejora de la autoestima, satisfacción estética, recuperación de las relaciones sexuales, imagen corporal, confianza, e incluso hay quienes rememoran el suceso con algún tatuaje.</p>

    <p>En todos los casos, la ayuda psicológica se vuelve indispensable. Pues mientras para algunas personas puede resultar una oportunidad de crecimiento y superación, para otras reflejas un estado de estrés y depresión.</p>

    <p>Lo importante sería obtener un auxilio personal en la toma de decisiones médicas, control de los efectos adyacentes, bienestar emocional y apoyo en general para ella y sus familiares.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>
	<hr>
</div>