<div class="articulo">
	<h1>Codependencia en la relación</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/codependencia_en_la_relacion.jpg" alt="">
    <p>La codependencia es la necesidad emocional, social e incluso física de permanecer con el otro a pesar de vivir con el sufrimiento. La personas codependiente, suele realizar esfuerzos titánicos para conseguir el amor y la aceptación de los demás; pero esto no es un acto de amor auténtico, sino de dependencia emocional que establece patrones destructivos. La codependencia tiene su origen en las carencias afectivas que la persona tuvo en la infancia.</p> 

    <p>Surge en una persona que presenta inmadurez en alguna área de su vida, y es alguien que nunca logró sentirse autónomo ni independiente del ambiente familiar. Este patrón no se hereda, pero desgraciadamente sí se aprende; es decir, la persona que presenta esta problemática busca de manera inconsciente relaciones de pareja similares, ya que requiere reforzar este patrón que le resulte familiar.</p>

    <p>Es necesario que la persona que presenta esta problemática reciba apoyo psicológico para recuperar la autoconfianza, desarrollar adecuadamente su autoestima y para poder romper con este patrón que le ocasiona tanto dolor, sufrimiento y violencia.</p>

    <p><span>¿Qué tipo de relación de pareja tengo?</span></p>

    <p>La formación y permanencia de una pareja no depende sólo del amor o de las expectativas que se tengan alrededor de éste, sino también de la comunicación, la forma de enfrentar los conflictos, la convivencia con las familias de origen, el ejercicio de su sexualidad, la forma en que se distribuyen las responsabilidades, entre otros, elementos que pueden promover o impedir su crecimiento.</p>

    <p><span>¿Cómo mejorar la relación de pareja?</span></p>

    <p>Con el paso del tiempo las relaciones de pareja van cambiando, se va instalando la monotonía por los compromisos del trabajo, la casa, los hijos; ambos integrantes van guardando enojo, frustración; surgen los problemas de comunicación en donde cada uno comienza a interpretar lo que ve y escucha del otro, se van creando rencores que no se aclaran, acumulando sentimientos de tristeza que no se expresan; van dejando de ser pareja para convertirse sólo en padres.</p>

    <p>Todo esto va distanciando, ¿qué hacer? Es necesario rescatar los espacios que tenían como pareja antes de instalarse en el papel de padres de tiempo completo. A continuación te daremos algunas acciones a llevar a cabo para poder rescatar o bien para mantener una buena relación de pareja. Estos puntos son propuestos por el Dr. Marco Murueta en algo que llama "Tecnología del Amor".</p>

    <ol>
    	<li>Volver a tener espacios para divertirse (cine, fiestas, salir a bailar, cenar, paseos) como pareja, solos, dejando a los hijos en un espacio aparte, con la familia si son pequeños, o solos si es que son adolescentes, ellos tienen su propio espacio.</li>
    	<li>Crear momentos agradables en donde compartan con el otro a través de los detalles como: preparar una cena especial, hacer un obsequio hecho por la misma persona, crear un ambiente especial para un contacto íntimo, sonreír a la pareja en cada momento que se pueda.</li>
    	<li>Reconocer al otro eN sus acciones positivas, al igual que hacerle saber a la pareja los logros personales que se han tenido; la admiración a la pareja es un factor clave en las relaciones.</li>
    	<li>Tener un contacto físico agradable, esto es, a través de las caricias, las miradas, los besos, el tomarse de las manos y las relaciones íntimas que permitan ser un medio de expresión del afecto y reconocimiento del amor, gusto y deseo por el otro.</li>
    	<li>Cooperación, a través de ayudarse en lo quehaceres del hogar; el tener proyectos en común que requieran el apoyo mutuo. Los logros obtenidos son un punto de unión para la pareja.</li>
    </ol>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>