<div class="articulo">
	<h1>Como te ves, me vi... y como me ves, te verás</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/como_me_ves_te_veras.jpg" alt="">
    <p>Los seres humanos llegamos a una etapa de la vida, en la que aparentemente las cosas se complican, en esta, enfrentamos muchos cambios, físicos, mentales y sociales. Esta etapa es la adultez mayor, mejor conocida como vejez, la cual inicia alrededor de los 60 años.</p>

    <p>En ella, hombres y mujeres reviven o recuerdan la mayor parte de las perdidas que han tenido, así como las experiencias que han vivido a lo largo de su vida. Se enfrentan a los cambios que existen en su estructura familiar, pues en la mayoría de los casos es el momento, en que los hijos ya cuentan con su propia familia y dejan de vivir con los padres: también lidian con las modificaciones físicas que sufre su cuerpo, algunos se vuelven más vulnerables a las enfermedades crónico degenerativas, así como a diversas enfermedades mentales; su apariencia física se modifica, su cabello se encanece y su piel presenta arrugas, esas son señales inequívocas del paso de los años.</p>

    <p>Es importante mencionar que la sociedad de consumo en la vivimos en el mundo occidental, en la cual se valora lo estético y lo práctico, suele provocar en gran medida en el adulto mayor, una sensación de impotencia y abandono.</p>

    <p>Debido a estos cambios, la persona puede experimentar una crisis por medio de la cual tendrá la oportunidad de reflexionar, valorar y recoger todo lo que ha sembrado en toda su vida, tanto en sabiduría, fe, cariño, aprendizaje y logros, o bien, si no cuenta con una adecuada auto-confianza, correrá el peligro de enfrentar una depresión o pérdida del deseo de seguir viviendo, por lo que se ha ido y por el miedo que le puede generar el pensar en la muerte.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p> 

	<hr>
</div>