<div class="articulo">
	<h1>Yo mujer, ¿Cómo puedo recuperar mi autoestima?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/como_recuperar_mi_autoestima.jpg" alt="">
    <p>La autoestima es una concepción individual y valorativa de nosotros mismos; de nuestra forma de ser, actuar y pensar, así como de rasgos corporales y espirituales. Desde la infancia se aprende; empezamos a formarnos un concepto de nosotros mismos a partir de cómo nos ven los demás. Y de las actitudes o acciones que esperan que cumplamos para ser aceptados. Es en este punto en donde pueden surgir una serie de ideas irracionales con respecto a nosotros mismos.</p>

    <p>Estas ideas irracionales van en el sentido de tener que ser "buenas personas", "sacrificadas", "bellas físicamente", "no enojonas", etc… y una serie de demandas que van más en el sentido de cumplir estereotipos sociales, muchas veces inalcanzables y negando en cada momento el derecho que tenemos como humanos de poder expresar nuestras emociones sin ser cuestionadas.</p>

    <p>Siendo así, la formación de la autoestima va en función de cumplir una serie de requisitos impuestos como: ser buena hija, esposa y madre, no cuestionar las decisiones de los demás, no enojarse, reclamar o pedir, ser sacrificada y atender a los demás en cada momento que lo necesiten. Cuando esta percepción se vuelve rígida, llegan a vivirse con una sensación de menosprecio, de poco valor y sentimiento de pérdida de identidad, por no cumplir con el mandato que hemos aprendido. O lo que la mayoría conoce como "problemas de autoestima".</p>

    <p><span>Qué hacer:</span></p>

    <p>Primero hay que trabajar y reconocer todos los conceptos que se tienen con respecto a lo bueno o lo malo, esto es, identificar como nos enseñaron que tenemos que ser para ser apreciadas. Segundo, aprender a hablar de nuestros sentimientos, deseos y gustos, sin agredir a los demás. Tercero, conocer y reconocer que nuestro valor como mujeres y seres humanos no reside sólo en cumplir estereotipos sociales y cuarto y último, buscar apoyo psicológico para ir aprendiendo a reestructurar nuestros conceptos o ideas irracionales de cómo "tenemos" que ser y cambiarlos por el "como" queremos ser.</p>

    <p><span>Te invito a contestar el siguiente cuestionario, con un SI o NO para identificar como esta tu autoestima:</span></p>

    <ol type="1">
        <li>¿Piensas que tu labor como mujer es obedecer a los demás? </li>
        <li>¿Te sientes culpable contigo cada que te enojas o reclamas por algo que no te parece? </li>
        <li>¿Se te dificulta pedir algo para ti a los demás? </li>
        <li>¿Piensas que sólo las mujeres bellas o delgadas tienen suerte y son valoradas? </li>
        <li>¿Esperas que los demás te reconozcan a partir de ser buena persona? </li>
        <li>¿Has dejado de hacer actividades que te gustan por dedicarte a los demás? </li>
    </ol>

    <p>Si respondiste a más de dos preguntas con un SI, te invitó a que nos llames para poderte orientar en la forma de empezar a trabajar y recuperar tu autoestima.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>