<div class="articulo">
	<h1>¿Cómo romper el patrón de violencia con mi pareja?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/como_romper_el_patron_de_violencia__con_mi_pareja.jpg" alt="">
    <p>De acuerdo con algunas estadísticas, 9 de cada 10 personas que viven violencia son mujeres, de las cuales, 7 de cada 10 son agredidas por sus parejas, lo cual muestra que las creencias y las prácticas sobre lo que debe ser un hombre y una mujer en nuestra cultura, así como los mitos acerca del amor y la pareja, donde el dominio del hombre sobre la mujer es lo que se acostumbre, siguen vigentes y aún queda mucho trabajo por hacer para combatir la violencia desde sus raíces; sin embargo, la violencia en una pareja puede detenerse si se cuenta con la información y las herramientas necesarias.</p>

    <p>De esta manera, la primera condición para eliminar la violencia en una relación de pareja, es reconocerla, aceptar que existe y que, por ejemplo, la petición de "no te pongas minifaldas" no es una expresión de cariño, sino una forma de represión; y es que comúnmente la violencia se asocia sólo a los golpes o los insultos; sin embargo los celos, el impedimento de que trabaje la mujer o de que la visiten sus amigos, el control de sus gastos y otras prohibiciones más, también son una forma de violencia.</p>

    <p>Una mujer que vive violencia, independientemente de que la reconozca o no, suele presentar un deterioro importante en su autoestima y se siente culpable de los enojos y dificultades con su pareja; tiene pocos amigos o personas que la apoyen; también es probable que tenga un gran temor hacia su pareja y/o que viva bajo constantes amenazas; además, en muchos casos la familia le dice que es su "cruz" o que debe tolerar todo para que la relación continúe; por eso, es comprensible que en estas condiciones resulte tan difícil dar el siguiente paso: enfrentar la situación.</p>

    <p>En la mayoría de los casos es importante que, una vez que se ha reconocido la violencia, se busque ayuda profesional para ella y su pareja con el objetivo de que reconozcan las creencias y mitos que fomentan este problema, además de aprender a resolver sus conflictos con otras herramientas; si él se niega a participar, el apoyo puede ser para ella sola, ya que a través de un proceso de terapia, podrá mejorar su autoestima, la confianza en sí misma y reconocerá sus derechos y las alternativas para hacerlos valer: recuerda que nada justifica un hecho violento.</p>

    <p><span>¿Soy una persona que vive violencia de pareja?</span></p>

    <ol type="1">
        <li>¿Tu pareja toma siempre las decisiones en tu relación?</li>
        <li>¿Constantemente sientes miedo a equivocarte porque tu pareja se enoja contigo?</li>
        <li>¿Te golpea, insulta o avienta objetos cuando discuten?</li>
        <li>¿Te cela constantemente y te acusa de ser infiel?</li>
        <li>¿Te humilla en público?</li>
        <li>¿Te prohíbe ver a tus amigos?</li>
        <li>¿Controla tus ingresos?</li>
    </ol>

    <p>Si respondiste afirmativamente a 2 ó más preguntas, es probable que estés viviendo una situación de violencia.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>