<div class="articulo">
	<h1>¿Cómo afecta el dinero la salud emocional?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/como_afecta_el_dinero_la_salud_emocional.jpg" alt="">
    <p>En esta época, cuando algunas personas tienen la posibilidad de tener un ingreso extra, puede presentarse cierta euforia y deseo de gastar en forma poco planeada como consecuencia de las limitaciones que se han tenido durante todo el año. Sin embargo, esta actitud puede convertirse sólo en una satisfacción pasajera y tener consecuencias graves no sólo a nivel económico, sino también en cuestión de salud emocional, ya que una persona que durante tiempo prolongado está bajo presiones económicas, es fácil que sea presa del estrés, frustración, desánimo y, en situaciones extremas, llegue a considerar el suicidio como una forma de solucionar sus problemas.</p> 

    <p>Todo esto puede evitarse en la medida en que se aprenda a ahorrar, a tolerar la frustración y, sobre todo, a fundamentar el valor de la persona no en lo que tiene o puede comprar, sino en lo que es, aunque este es un aprendizaje que se dificulta debido a que vivimos en una sociedad materialista, que enseña a equiparar el valor de las personas a través de los objetos que proporcionan cierto estatus social.</p>

    <p>Con esos valores superficiales, se aprende a buscar la felicidad a través de compras inútiles que exceden el presupuesto familiar, con tal de sentir una "alegría" falsa o momentánea, olvidándose de que para sentirnos bien consigo mismo y con los seres queridos, no se necesita tener un auto último modelo o vestir con ropa de marca, como se ve en los anuncios publicitarios.</p>

    <p>Afortunadamente es posible modificar estas ideas desarrollando no solamente los hábitos de ahorro y previsión, sino principalmente, reconociendo las cualidades y defectos personales, así como también las emociones y la necesidad de expresarlas, de tal forma que no se caiga en la trampa de sentirse bien a través del consumo material; paulatinamente se puede transmitir estas ideas a la familia, incluyendo a los más pequeños, para impedir que un mal manejo del dinero termine afectando la estabilidad emocional.</p>

	<hr>
</div>