<div class="articulo">
	<h1>¿Cómo puedo ayudar a mis hijos después de un rompimiento?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/como_puedo_ayudar_a_mis_hijos_despues_de_un_rompimiento.jpg" alt="">
    <p>Ojalá las relaciones de pareja duraran toda la vida, como los cuentos de hadas o las películas románticas. Lamentablemente, la realidad es otra, hay un aumento considerable de divorcios cada año y muchas son las causas que llevan a esto. Pero ¿qué pasa con los hijos, después de un divorcio? Hay varias actitudes que tiene que cuidar los padres para evitar que los hijos resulten lastimados y se les ocasione un daño psicológico.</p>

    <ol type="1">
        <li>La separación de los padres no implica la de los hijos, las relaciones de pareja pueden terminar, pero la relación padre-hijo no acaba nunca, el vínculo va a estar presente siempre, aunque no se les vea. Esto es importante, ya que muchos padres o madres piensan que cuando se divorcian también se deben separar de los hijos y eso es un abandono emocional terrible para los niños.</li>
        <li>No tomar a los hijos como arma para intentar lastimar a la pareja, pues quien en realidad resulta lastimado es el hijo. Intenten no involucrar a los hijos en su enojo o deseo de venganza, ellos no tienen ninguna responsabilidad de su relación y de la forma en la que se ha ido presentando.</li>
        <li>No los tomen como paño de lágrimas, el querer contarles a sus hijos lo malo que fue el padre o la madre y llorar con ellos de manera constante diciéndoles que la vida se acabó y que ya nada vale la pena, hace que ellos crezcan con una sensación de angustia, pena, odio y rechazo a todo lo que signifique enamorarse o comprometerse. No es malo que los hijos los vean tristes o llorando, pero hay que demostrar con el ejemplo que el dolor se supera y que no es válido convertirlo en un estilo de vida.</li>
        <li>No los intenten alejar de la familia de quien fue su pareja, siguen siendo parte de ella, a menos de que vean de manera clara que la familia está influyendo para que el hijo se llene de rencor, hablándole mal de su madre o padre.</li>
        <li>Escuchen a su hijo, eso no significa decirles: "No, tú no puedes sentir eso", "ya deja de llorar tenemos que seguir adelante", "ya sufro demasiado como para aparte estarte oyendo". Por poner un ejemplo, es necesario escuchar y respetar sus emociones, permitir que lo expresen les ayudará a entenderlo y a aceptar el cambio. Para ello, también influye el cómo vea el hijo o la hija la forma en la que ustedes afrontan la separación.</li>
    </ol>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>