<div class="articulo">
	<h1>¿Cómo puedo ayudar a un familiar con depresión?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/como_puedo_ayudar_a_un_familiar_con_depresion.jpg" alt="">
    <p>La depresión es considerada como la enfermedad del siglo, ya que a nivel mundial una de cada dos personas la llega a padecer en algún momento de la vida; se comenta que para el año 2020, será una de las primeras 5 causas de muerte a nivel mundial. El mundo acelerado en el que vivimos evita que podamos establecer contacto con nuestro interior y por lo tanto de atender a nuestra salud emocional, existe una multicausalidad para poder padecer este trastorno dentro de los cuales pueden ser: la muerte de un ser querido, problemas de pareja, familiares, estar atravesando por situaciones de estrés constantes, por ejemplo, o factores internos como alteraciones a nivel de neurotransmisores. De no atenderse de manera adecuada podría llevar a la persona a perder cada vez más el deseo de continuar y poder llegar al suicidio, o buscar alternativas que sienta le ayuden a superar el malestar, cayendo por ejemplo en una adicción.</p> 

    <p>Se caracteriza por la presencia de tristeza en exceso, agotamiento, pérdida de confianza y amor propio; la persona se siente incapaz de enfrentar sus propios problemas así como de experimentar placer.</p>

    <p><span>¿Qué hacer cuando un familiar en casa padece de la depresión?</span></p>

    <p>La persona necesita escuchar frases de apoyo, más no de cuestionar si su postura es negativa o no; se recomienda establecer un clima de confianza para que la persona exprese su dolor, y mostrar comprensión; ubicarla en el presente, para ayudarle a dejar el pasado doloroso atrás; ayudarlo a crear expectativas realistas de solución de sus problemas para evitar nuevas frustraciones; ayudarlo a reducir los sentimientos de culpa; ser claro y conciso en nuestro discurso (evitar el sermón).</p>

    <p><span>¿Qué no debo hacer?</span></p>

    <p>Primero que nada debemos tener claro que la depresión es una enfermedad, más no un signo de debilidad o de incapacidad; atenderle más no sobreprotegerlo: permitirle que cumpla con algunas responsabilidades para que se sienta capaz y eleve su autoestima; no alejarlo de los asuntos familiares ni criticar su conducta; no interrogarlo bruscamente ni sugerirle que tome decisiones importantes en esos momentos ;no decirle que deje de sufrir ni que simplemente "le eche ganas", o que "no piense en su dolor y que ya pasará".</p>

    <p>En el Centro Nacional de Diagnóstico para las Enfermedades Emocionales podemos brindarles la asesoría y apoyo psicológico de manera gratuita las 24 horas del día llamando al 01800 911 66 66 opción 3, confíen en nosotros, podremos orientarles de manera profesional y confidencial. centrodiagnostico@serdelizsisepuede.com.mx</p>
	<hr>
</div>