<div class="articulo">
	<h1>¿Cómo salvar mi relación de noviazgo?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/amar_con_locura_o_con_cordura.jpg" alt="">
    <p>Todas las relaciones de pareja inevitablemente pasan por periodos de crisis con peleas, conflictos, desacuerdos, gritos, indiferencia, incluso la separación como solución definitiva a los problemas. Sin embargo, si estas crisis son superadas adecuadamente fortalecen aún más la relación amorosa, ya que una crisis en sí, más que ser un problema, representa un reto que fortalece el vínculo afectivo.</p> 

    <p>Algunas de estas crisis son, por ejemplo, la transición del enamoramiento al amor maduro en donde se conocen y se ven con mayor claridad los defectos del otro; la llegada de los hijos, los problemas económicos, alguna infidelidad, la costumbre, la rutina, y, algo que es muy común, las peleas por problemas viejos y no resueltos en el momento, que se enquistan en la memoria y surgen ante cualquier detonante.</p>

    <p>Es inevitable no discutir en una relación de pareja, entonces, ¿por qué no debatir de manera correcta? Discutir no es agredirse, pegarse, ofender, insultar, romper cosas o amenazar. Saber polemizar es: escuchar, respetar las opiniones del otro, decir lo que se siente y piensa sin ofender, se deben establecer acuerdos y formas de evitar que vuelva a suceder y, sobre todo, llegar a una conclusión, para que ese problema no sea tema de pleito en el futuro.</p>

    <p>Otro error en las parejas que lleva a sinfín de conflictos, es querer que el otro cambie su manera de ser, cuando siempre ha sido así, pero nunca se le quiso ver o se tenía la idea de "conmigo va a cambiar". Lo mejor es <span>APRENDER A APRENDER A TU PAREJA</span>, suena extraño ¿verdad? Pero no lo es tanto, significa conocer y reconocer al otro tal como es y ser respetuoso de su forma de ser, si por ejemplo, tu pareja es muy enojona, aprende tú a calmarte y a platicar cuando se calme. Si a él o ella no le gusta la música que escuchas, aprende a encontrarle el gusto, tal vez eso les pueda unir más. Recuerda que nadie es como nosotros queremos que sea.</p>

    <p>Por último, retoma acciones que antes tenías para enamorar: abrazos, besos, arrumacos, palabras bonitas o las salidas, diluyen la monotonía. El amor se alimenta con acciones y se muere por abandono.</p>

    <p>Hay ocasiones en que es necesario saber cuándo ya no hay futuro como pareja y el aferrarte a la relación solo te hiere y prolonga una inminente separación. Una relación debe terminar, aun a pesar de la negación o el dolor, cuando hay agresiones físicas, abuso sexual, negligencia, violencia psicológica constante, que no solo se da en las peleas como parte de una acalorada discusión; cuando hay abandono, adicción grave al alcohol o a las drogas o cuando, definitivamente, tu pareja ya te dijo que te dejó de amar.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>