<div class="articulo">
	<h1>¿Cómo hablar de la muerte con los hijos?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por Psic. Luis Conrado García</i></span></p>
	<img src="images/articulos/como_hablar_de_la_muerte_con_los_hijos.jpg" alt="">
    <p>La muerte es algo con lo que convivimos día a día, la vemos y la vivimos de manera constante. Por ejemplo, frecuentemente vamos a la carnicería, a la pollería, aplastamos algún insecto, nuestras mascotas mueren como un pez, una tortuga, un pajarito etc. También vemos temas relacionados con la muerte en las películas, incluso películas de niños, en la televisión y en las caricaturas.</p> 

    <p>Sin embargo, cuando nos referimos ya a la pérdida de un ser humano o a la posibilidad de una perdida, este se vuelve un tema prácticamente vedado, porque el simple hecho de hablar de la muerte de un ser querido implica un dolor muy fuerte y se aprende a que es mejor negarlo que hablarlo. Trayendo como consecuencia el no expresar nuestros sentimientos y prolongar la tristeza en el caso de un fallecimiento.</p>

    <p>Preparar a tus hijos ante una perdida, es fundamental como parte del desarrollo de sus habilidades emocionales. No necesariamente se tienen que tocar estos temas en el momento de una muerte, sino en el momento en que los niños pregunten sobre las inquietudes que esto les provoque. Ya que no es ninguna mentira que los niños son curiosos y cuando están en la etapa de querer conocer las cosas, es inevitable que pregunten sobre, ¿Qué es la muerte?, ¿Si tú te vas a morir?, ¿Por qué las personas y los animales se mueren?, ¿Qué pasa después de que alguien muere? Etc. Todas estas son preguntas a las que cualquier papa se va a tener que enfrentar.</p>

    <p>Por lo tanto hay que hablar de la muerte con naturalidad evitando decir frases como: “esas cosas no se dicen”, “no digas eso ni de broma”, “con eso no se juega”, etc. Tu ya te diste cuenta que la muerte es algo natural y con la que convivimos diario, y puedes aprovechar perfectamente esas situaciones para hablar de la muerte con tus hijos, para que en el momento que se enfrenten a una perdida real, no tengan desconocimiento de lo que sucede, porque por más que tratemos de evitar que los niños se den cuenta de que un familiar o ser querido a muerto, ellos son muy inteligentes y se dan cuenta de las cosas.</p>

    <p>Sobre el cómo hablar con ellos depende de su edad y debes de evitar decir información “falsa”, por ejemplo: “La muerte es cuando alguien duerme eternamente”. O si el niño ya se esta enfrentado a una perdida, el decirle por ejemplo que su abuelita esta dormida, va ocasionar que al rato el niño no se quiera dormir por miedo. Es mejor poder decirle: “que abuelita murió porque su corazón dejo de latir, como aquel pez que tenia y que también murió porque su corazón dejo de latir”. Por eso la importancia irlos preparando para enfrentar una perdida. Para que no se enfrenten a lo desconocido. Los niños como los adultos, necesitan siempre saber que pasa. Mentir u ocultar las cosas puede resultar contraproducente.</p>

    <p>En el caso de niños más grandes, ya puedes hablar sobre enfermedades que llevan a la muerte, o explicaciones un poco más complejas, porque entre más grandes más dudas tienen. Esto no evita que los niños se depriman cuando un ser querido fallece, pero les ayuda a que la tristeza no se convierta en una depresión fuerte y que el periodo de duelo no sea tan prolongado.</p>

    <p>Si tu hijo o hijos ya se están enfrentando a un periodo de duelo, los siguientes consejos te pueden ayudar mucho:</p>

    <ol type="1">
        <li>No evites el tema. </li>
        <li>Explícales que es la muerte, sin transmitirles miedo ni angustia. </li>
        <li>Usa ejemplos del día a día. </li>
        <li>Expresa lo que tú sientes, y anímalo a que haga lo mismo sin que lo presiones. </li>
        <li>Define junto con él sus sentimientos y ayúdalo a entenderlos. </li>
        <li>Hazle saber que lo que siente es normal. </li>
        <li>No te desesperes, el concepto de muerte es complejo y necesitas de mucha paciencia para explicarle y repetirles la misma información muchas veces. Usa varios ejemplos. </li>
        <li>Esta al pendiente de tus hijos y si notas cambios muy bruscos y constantes. Busca ayuda psicológica profesional. </li>
    </ol>

    <p>En el Centro Nacional de Diagnóstico para las Enfermedades Emocionales podemos brindarles la asesoría y apoyo psicológico de manera gratuita las 24 horas del día llamando al <span>01 800 911 66 66 opción 3</span>, confíen en nosotros, podremos orientarles de manera profesional y confidencial. centrodiagnostico@serdelizsisepuede.com.mx</p>
	<hr>
</div>