<div class="articulo">
	<h1>¿Cómo detecto si mi hijo padece una adicción?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/como_detecto_si_mi_hijo_padece_una_adiccion.jpg" alt="">
    <p><span>¿Qué es una adicción?</span></p> 

    <p>Adicción significa "adhesión" o entrega. La drogadicción es un estado físico y psicológico en el cual la persona tiene el impulso descontrolado por consumir alguna sustancia (marihuana, cocaína, Inhalables, fármacos, alcohol, drogas, etc)para experimentar sus efectos y evadir la realidad, o bien, para evitar el síndrome de abstinencia (conjunto de signos y síntomas físicos y psicológicos que se presentan cuando no se tiene la droga para consumirla).</p>

    <p><span>¿Cómo detectarlo?</span></p>

    <p>Existen ciertas señales que pueden plantear la posibilidad de que los hijos sean adictos(solo a través de la valoración realizada por un especialista se puede definir):cambios bruscos del estado de ánimo así como en los hábitos de higiene, bajo rendimiento académico o laboral, apatía, aumentos de infracciones de transito, incorporación a un nuevo grupo de compañeros de la misma edad, recepción de llamadas telefónicas de personas desconocidas, aumento de conflictos en el seno de la familia, mentir, robar; presencia de ojos enrojecidos, alteraciones en el apetito, distracción, risas excesivas, congestión en nariz y garganta, temblores, excesiva calma o lentitud, etc.</p>

    <p>Es importante que los padres no generalicen ni comiencen con una persecución que solo llevaría a un alejamiento de los hijos. Algunos adolescentes llegan a consumir drogas en lo que se conoce como la fase experimental, en donde el consumo es por curiosidad o por presiones del grupo. Esto no significa una adicción como tal, ya que puede ocurrir que no la vuelvan a consumir.</p>

    <p><span>¿Qué hacer y qué no hacer?</span></p>

    <p>Acercarse y comunicarse con los hijos constantemente para prevenir en un futuro el distanciamiento y desarrollo de adicciones; si ya tiene la certeza de que su hijo es adicto, es importante hablar con él al respecto y conocer si está dispuesto a recibir un tratamiento. Buscar ayuda profesional, esto es, desde la parte médica y psicológica; aceptar que es una enfermedad y tratarla como tal.</p>

    <p>Nunca lleve a su hijo a la fuerza a ningún centro de readaptación; ya que de esa manera, se atropellan los derechos del enfermo y se falta a la norma de atención en materia de adicciones. El Golpear, rechazar, sobreproteger, suministrar medicamento o hierbas caseras provocará que se acentúe la enfermedad.</p>

    <p>Busque asesoría psicológica para usted, es importante aprender a manejar límites claros y definidos desde el amor.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>