<div class="articulo">
	<h1>¿Cómo puedo saber si mi relación funcionará?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por Psic. Liliana Hinojosa Peniche</i></span></p>
	<img src="images/articulos/como_puedo_saber_si_mi_relacion_funcionara.jpg" alt="">
    <p>Cuando estamos iniciando una relación no sentimos emocionados y llenos de ilusiones, nuestro cerebro se inunda de sensaciones placenteras y comenzamos a generar imágenes acerca del futuro con esa persona, y muchas veces nos preguntamos si ahora si será ésta la efectiva. Pero ¿cómo podemos saber si ahora si estamos con la persona correcta?, la verdad es que no se puede saber con certeza si nos quedaremos toda la vida con un pareja, por muy bien que nos llevemos ó por mucho que nos guste la persona, lo importante es tomar en cuenta algunos de los siguientes puntos para poder construir bases sanas que ayuden a que relación marche bien y disfrutar el tiempo que estemos en compañía de la persona.</p> 

    <p>Un punto muy importante es no idealizar a la persona, muchas veces cuando estamos iniciando cometemos el error de adjudicarle características ó cualidades como si la persona fuera perfecta, es mejor, permitirnos conocerla y para esto necesitamos tiempo de convivencia, no irse a vivir juntos al mes de conocerse. Esto nos permitirá saber si realmente podemos convivir con la persona, con sus virtudes y defectos. Aquí la clave es basarse en sus acciones más que en las palabras.</p>

    <p>Ser tú mismo, esto implica no ocultar nuestros gustos, ó nuestras ideas con el fin de estar de acuerdo con la otra persona, tampoco se trata de aferrarse a una sola creencia, pero de antemano sabemos que hay situaciones que son negociables y otras que no , en ese caso es importante expresarlo, esto es, ser honestos y no dar una imagen errónea, ya que a final de cuentas no podemos dejar ser nosotros mismos y tarde ó temprano nuestra personalidad saldrá a la luz.</p>

    <p>Que la inseguridad no sea tu guía, es cierto que tal vez hay personas que han pasado por situaciones difíciles en relaciones anteriores, pero es muy importante que si no tuvieron la relación ideal, no permitan que los recuerdos del pasado nublen la nueva relación. Aprende a divertirte y enfocarte en pasar un buen momento.</p>

    <p>Pon atención a tus emociones. Es muy importante que te fijes en ¿cómo te sientes cuándo estas con esa persona?, ¿te sientes a gusto?, ¿te sientes libre?, segura ó seguro, ó por el contrario, la vives con miedo. Pregúntate si ¿te sientes triste? ¿Sientes que no puedes hablar de todo lo que quieres por que te sientes devaluado ó criticado?</p>

    <p>Una pareja es un compañero ya sea por una etapa en tu vida ó por más tiempo, el punto es que aprendas a relacionarte de manera sana con tu pareja y reconozcas cuando es sano permanecer en una relación y cuándo es mejor retirarse.</p>

    <p>Si tienes dudas sobre éste u otros temas, llama al Centro Nacional de Diagnóstico para las enfermedades emocionales y con gusto uno de nuestros psicólogos te atenderá gratuitamente las 24 horas: <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>

	<hr>
</div>