<div class="articulo">
	<h1>¿Cómo construir un escudo contra las adicciones?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/como_construir_un_escudo_contra_las_adicciones.jpg" alt=""> 

    <p>A pesar de tener constante campañas y una lucha constante en contra de los carteles, las drogas siguen teniendo un flujo constante y a la alza; para muestra basta un estado, Sonora es uno de ellos, el consumo de una droga de diseño llamada "cristal" aumento en un 300 por ciento y el rango de edad de los consumidores se ubica actualmente de entre los 10 y 25 años; Impactante y aterradoramente real.</p>

    <p>Como sabemos el consumo de cualquier droga tiene un impacto a nivel químico cerebral, llevando a los consumidores a generar una dependencia a la sustancia y a tener trastornos como la depresión severa y la pérdida de contacto con la realidad, llevando a las personas a robar e incluso poder matar para conseguirla.</p>

    <p>Es innegable que en la mayoría de los casos el consumo de una droga va acompañado de situaciones de violencia en el hogar, de falta de comunicación al interior de la familia.</p>

    <p>El uso de alguna otra droga, legal o ilegal, por parte de otro miembro de la familia son factores determinantes para el inicio del consumo en los adolescentes.</p>

    <p><span>¿Cómo hacerlo?</span></p>

    <p>Lo primero es aceptar que se tiene un problema, cualquiera que este sea, violencia, adicciones, depresión, mala comunicación, etcétera; por lo regular en las familias se trata de evadir los conflictos, es algo que existe pero que nadie habla con la fantasía de que desaparezca mágicamente, sin embargo esto no ocurrirá así.</p>

    <p>Segundo en generar en el interior de la familia un ambiente de confianza y comunicación abierta, esto puede ser a través de:</p>

    <p>El buen humor, la capacidad de disfrutar, la comunicación, la empatía (el ponerse en el lugar de los demás), aprender a tomar decisiones, el visualizar el conflicto como oportunidad de crecimiento, las habilidades para afrontar el estrés (relajación y confianza), el control de impulsos, la asertividad (habilidades para expresar las emociones), mejorar la autoestima, la anticipación de consecuencias, la confianza en el futuro, la cooperación, el tener metas, el ser coherente entre lo que se dice y se hace y la fe.</p>

    <p>A continuación se presenta un cuestionario para que identifiques si cuentas con el escudo adecuado para proteger a tus hijos de las adicciones.</p>

    <ol type="1">
    	<li>¿En tu familia se acostumbra a arreglar los problemas con gritos y golpes?</li>
    	<li>¿Cuándo se presenta algún conflicto procuran no hablar de el con la idea de no hacerlo más grande?</li>
    	<li>¿Cuándo te siente estresado te desquitas con la familia?</li>
    	<li>¿Constantemente reniegas de tu trabajo y de las demás actividades que tienes?</li>
    	<li>¿Cuándo comen procuran no hablar de los problemas que tuvieron en el día?</li>
    	<li>¿Generalmente hace cosas diferentes a las que dices querer hacer?</li>
    	<li>¿Tienes miedo del futuro y lo que te depara?</li>
    	<li>¿Cuándo hablas con tus hijos siempre les dices que tendrían que hacer?</li>
    	<li>¿Se te dificulta tener metas a corto, mediano y largo plazo?</li>
    	<li>¿Cuándo tus hijos tienen problemas te burlas de ellos?</li>
    	<li>¿Consumes alcohol o tabaco, pero les dices a tus hijos que no lo hagan por que esta mal?</li>
    	<li>¿Cuándo tus hijos quieren bromear contigo los reprendes por sentir que te faltan al respeto?</li>
    </ol>

    <p>Si contestaste que SI a más de tres preguntas, llámanos. Si te gustaría mejorar algunos de los aspectos que conformaran el escudo contra las adicciones en casa.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>