<div class="articulo">
	<h1>¿Cuáles son las causas del alcoholismo?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/cuales_son_las_causas_del_alcoholismo.jpg" alt="">

    <p>El alcoholismo es una enfermedad que afecta a la población mundial. Los resultados de la Encuesta Nacional de Adicciones del 2002, señalan que existen en el país más de 32 millones de personas entre los 12 y 65 años que consumen alcohol actualmente. En México el alcohol es considerado la bebida para las celebraciones, esto genera mayor probabilidad de padecer la enfermedad.</p>

    <p>Las causas de esta enfermedad sin múltiples, tanto físicas, sociales y psicológicas.</p>

    <p>Algunos factores psicológicos que se han detectado en las personas que padecen la enferma de alcoholismo son: la baja autoestima, la falta de habilidades para socializar o para enfrentar el estrés y un entorno social hostil son causas frecuentes de dicha enfermedad. Es frecuente que presenten inmadurez (ya que no asume responsabilidades como adulto), de conductas autoritarias, egocéntricas o de rebeldía. Les cuesta trabajo ponerse en el lugar de los demás, son emocionalmente débiles y por lo regular no terminan los proyectos que inician. Las personas con esta enfermedad eligen esposas fuertes y maternales para seguir siendo hijos.</p>

    <p>En las familias, por ejemplo, en las que los padres consideran que beber alcohol es parte del desarrollo normal o "muestra de madurez", hay más probabilidad de que se desarrolle la enfermedad. También cuando hay sobreprotección por parte de la madre, un padre ausente, una madre autoritaria, cualquier tipo de violencia, ansiedad, depresión o hiperactividad sin un adecuado tratamiento.</p>

    <p>A continuación se presenta un cuestionario para que identifiques si tú o alguien de tu familia presentan factores que puedan causar la enfermedad del alcoholismo. Contesta si o no a las siguientes preguntas.</p>

    <ol type="1">
    	<li>¿En mi familia existe violencia?</li>
    	<li>¿Mis padres o abuelos padecen o padecieron alcoholismo?</li>
    	<li>¿Identificas si en ti o en algún miembro de la familia se presentan baja autoestima?</li>
    	<li>¿A ti o a algún miembro de la familia le cuesta trabajo relacionarse con los demás?</li>
    	<li>¿Tú familia y amigos consumen alcohol?</li>
    	<li>¿Tú o algún miembro de la familia padece depresión o ansiedad?</li>
    	<li>¿Identificas si en ti o en algún miembro de la familia se presenta la hiperactividad?</li>
    	<li>¿Consideras que tú o algún miembro de la familia desconfía constantemente de los demás?</li>
    	<li>¿A ti o a algún miembro de la familia se les dificulta controlar la agresividad?</li>
    	<li>¿En ti o en algún miembro de la familia se presenta el estrés y no saben como manejarlo?</li>
    </ol>

    <p>Si contestaste que SI a más de tres preguntas es importante que nos llames para recibir asesoría. El alcoholismo genera daño en todas las áreas de la vida.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>