<div class="articulo">
	<h1>Cuando decir '¡Se acabó!'</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/cuando_decir_se_acabo.jpg" alt="">
    <p>En décadas pasadas, el papel que una pareja tenía dentro de la sociedad era muy distinto al de ahora. Se sellaba a partir de la consigna de "hasta que la muerte los separe", y eso se seguía al pie de la letra, sin importar si el vínculo era o no sano, no solo para los interesados sino para la familia que formarían, de tal manera que tanto hombres y mujeres se mantenían firmes ante esta promesa civil, religiosa o ambas.</p> 

    <p>Hoy, se mantienen valores respecto de la importancia de la pareja como base de la familia. Estos valores influyen en la decisión de continuar o no con una relación. Existen otros factores, como el tiempo que lleven juntos y la idea de que se puede afectar a los hijos con una separación, y ello hace que la decisión se torne complicada.</p>

    <p>Por eso, es importante que se diferencie entre una crisis o si realmente se enfrenta el fin de la relación; sin embargo, determinarlo puede ser difícil, ya que se conjugan emociones como el miedo ante el cambio y a continuar la vida sin la pareja, a la que en un primer momento aseguraron amar para toda la vida.</p>

    <p>Esto puede llevar al autoengaño, idealizando épocas pasadas de la relación o inclusive agregando características positivas al cónyuge, creyendo que si no se habla del asunto, este no hará daño; empero, esta postura no hace posible determinar la gravedad del hecho que se esté viviendo.</p>

    <p>Si bien es cierto que, ante conflictos o molestias se pueden tomar decisiones apresuradas, también es posible que se alargue la situación más de lo necesario. No existe una medida de tiempo para saber hasta dónde se ha aguantado lo suficiente. No obstante, si se pueden identificar puntos importantes para tomar una decisión.</p>

    <p>En ocasiones, el amor no basta para mantener a flote una relación, sobre todo si este solo proviene de una de las partes. Pregúntate y pregunta a tu pareja: "¿Esta es la relación que realmente queremos vivir?".</p>

    <p>No te engañes, las personas no cambian, a menos que lo decidan, claro. Si bien se pueden aceptar y convivir con defectos de tu pareja, existen actitudes que no te permitirán tener una relación sana, por ejemplo, la violencia o adicciones.</p>

    <p>Cuando se ha intentado todo lo posible por salvar la relación, es momento de afrontar los cambios que se presentarán. Recuerda que lo que se termina es la relación, no la vida de la persona. Esta es solo una etapa que pasará trayendo consigo emociones, llanto, dolor, furia y, también, su subsecuente alivio. No todo es negativo, hay aprendizaje. " Todo tiene su momento bajo el sol, hay un momento para el abrazo, y un momento para la despedida"</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>

	<hr>
</div>