<div class="articulo">
	<h1>Diabetes en niños y adolescentes</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por Psic. Claudia Herrera Arriaga</i></span></p>
	<img src="images/articulos/diabetes_en_ninos_y_adolescentes.jpg" alt="">
    <p>La diabetes es una enfermedad crónica (que estará presente de por vida) que implica tener niveles de azúcar altos. Esta se da, cuando el páncreas no produce la suficiente insulina que es una hormona encargada de transportar la glucosa (azúcar) al cuerpo donde se ocupa como energía.</p> 

    <p>Las personas que tienen diabetes, tienen altos niveles de azúcar ya que su cuerpo no puede utilizar esta azúcar para transformarla en energía y esto puede ser porque su páncreas no produzca la suficiente insulina o que sus células no respondan de manera normal a esta.</p>

    <p>En los niños y adolescentes el tipo más común de diabetes es la Tipo I. En este tipo de diabetes el cuerpo no produce o produce muy poca insulina y por lo tanto, necesitan tener el apoyo a través de inyecciones de insulina. La diabetes tipo II puede presentarse en niños y adultos que tienen sobrepeso.</p>

    <p>Cuando los niños o jóvenes suelen ser diagnosticados con esta enfermedad (y por supuesto los adultos) suelen tener cambios en su estado de ánimo. Esta presenta la pregunta ¿porque a mí?, piensan que son los únicos en sentirse tristes, enojados, solos, con miedo, avergonzados e incluso diferentes. Pueden sentirse culpables o culpar a otros de tener diabetes. En ocasiones pueden estar cansados y no tener ganas de realizar actividades. Deben saber que estos sentimientos son normales. Lo que no debemos permitir es que la diabetes, les deprima.</p>

    <p>Esta bien hablar para pedir ayuda, ya sea con la familia, amigos, los médicos e incluso buscar grupos de ayuda donde poder conocer a otros niños y adolescentes que tengan este mismo padecimiento. Es un buen momento para iniciar un diario donde poder escribir día a día como se sienten y lo que piensan. Y lo más importante, saber que los niños pueden realizar todas las actividades normales como cualquier otro niño sin este diagnóstico.</p>

    <p>Algo que preocupa a los chicos es las ideas erróneas que se tienen de la diabetes y es importante dejarles claro que es un padecimiento que no se contagia y habrá que recordarles que los verdaderos amigos se ayudan y los que se ríen lo hacen por desinformación y lo adecuado es alejarse de este tipo de personas.</p>

    <p>Podemos involucrar a los niños y jóvenes en su tratamiento lo que les dará una mayor sensación de control sobre lo que viven. Es necesario poner metas que vayan desde hablar abiertamente sobre el padecimiento, obtener información del mismo y es vital tener actividad física así como modificar la dieta para tener una mejor calidad de vida, esto no significa que dejen de comer lo que más les gusta sino que ahora no lo podrán hacer de manera tan frecuente y en menor cantidad.</p>

    <p>La responsabilidad de los padres, hermanos y demás familiares es investigar y conocer sobre la enfermedad, así podrán entender, comprender y ayudar mucho mejor a las personas que lo padecen. Si tienes dudas sobre el tema o como hablarlo con los hijos llama al Centro Nacional de Diagnostico para las Enfermedades Emocionales llamando al 01800 911 66 66 opción 3 las 24 horas del día, la asesoría es gratuita.</p>
	<hr>
</div>