<div class="articulo">
	<h1>Diabetes y sexualidad</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/diabetes_y_sexualidad.jpg" alt="">
    <p>Muchas personas desconocen que al padecer diabetes y no tener el cuidado y los controles necesarios de la misma, puede verse afectada su vida sexual. Particularmente en los hombres, la disfunción eréctil es uno de los efectos que pueden aparecer al tener diabetes.</p>
    <p>Incluso muchos hombres que la padecen no han descubierto que detrás de esto puede haber la enfermedad. Afortunadamente al llevar un cambio en el estilo de vida, comida, ejercicio, medicamentos y verificar los niveles de azúcar en sangre; se puede llegar a recuperar está función.</p>
    <p><b>¿Qué se puede hacer si se está presentando una disfunción eréctil?</b></p>
    <ol type="1">
      <li>Lo primero es hacerte la prueba de glucosa y descartar padecer diabetes. Si ya tienes confirmado el diagnóstico es necesario esperar a que los niveles de azúcar bajen en conjunto con todos los demás cambios de vida necesarios.</li>
      <li>No ocultes a la pareja y mucho menos al médico, si estas teniendo problemas para tener o mantener una erección. Esto sólo te llevará a tener problemas de pareja, por las ideas que se puedan generar de falta de deseo o incluso tener a alguien más. Y en el caso del médico, el ocultarlo hará que no obtengas la atención oportuna y se podría generar un daño mayor. La atención adecuada pude llevarte a recuperar la función eréctil.</li>
      <li>Informarte es necesario para recuperar la confianza y no llenarte de ideas catastróficas que solo entorpecen tu salud.</li>
    </ol>
    <p>Esta situación se está presentando más frecuentemente en hombres jóvenes y el desconocimiento en conjunto con la pena y los mitos al respecto les lleva a no hablar de algo que puede tener una buena solución y a tiempo.</p>
    <p>La capacidad de reaprender a vivir la vida sexual es otro punto fundamental de aprender. Nos hemos acostumbrado a ver la actividad sexual sólo con penetración y la vida sexual abarca mucho más que eso, la capacidad de amar y de disfrutar implica a toda la persona, no sólo una parte.</p>
    <p>Tu calidad de vida, integral, siempre puede ser mejor. Acércate a buscar la ayuda e información adecuada. Cualquier duda al respecto comunícate al Centro Nacional de Diagnóstico donde uno de nuestros psicólogos te atenderá de manera gratuita. <span>01 800 911 66 66 opción 3</span>.</p>   
	<hr>
</div>