<div class="articulo">
	<h1>Discriminación y confianza</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por Psic. Gabriela Jiménez Vera</i></span></p>
	<img src="images/articulos/amar_con_locura_o_con_cordura.jpg" alt="">
    <p>Constantemente escuchamos noticias sobre personas que comenten un acto que sale de la norma social, que atentan contra la vida o la dignidad de un tercero. Y muchas de estas personas cuentan con alguna profesión o vocación como el sacerdocio, la docencia o la medicina, por dar algunos ejemplos.</p> 

    <p>Lamentablemente lo que hace el ser humano al escuchar noticias como estás es hacer una generalización e inician cuestionamientos como: ¿en manos de quienes estamos?, ¿todos son iguales?, ¿ya no podemos confiar en los médicos, sacerdotes, maestros, psicólogos, mecánicos, etcétera?</p>

    <p>Cada ser humano es distinto tanto en cuestiones físicas como psicológicas o educación, y las conductas mostradas de falta de respeto, abuso o violación a los derechos humanos no están ligadas a la profesión o vocación. Hay personas que traen una historia de vida y características de personalidad que les llevan a actuar de determinada manera, independientemente de la carrera o actividad que tengan para vivir.</p>

    <p>Valdría la pena tomarse un momento para reflexionar si esas personas que escuchamos cometieron un delito, tiene que ver esto con la profesión o con sus características psicológicas e historia de vida.</p>

    <p>Discriminar, también, es un acto de diferenciación. Y aplicar esto en las noticias que se escuchan diariamente serviría de mucho para no afirmar que el acto criminal tiene una estrecha relación con la profesión, ya que en cualquiera de estas, vocaciones y oficios existen una variedad de personas y personalidades que no se vinculan.</p>

    <p>Creer que la medicina, la religión, el derecho o la psicología no son fiables sólo porque hay personas con algún trastorno psicológico, amorales o deshonestas y que ejercen alguna de estas actividades es prejuzgar. El prejuicio genera desconfianza y lo que necesitamos como sociedad es recuperar la confianza, en nosotros y en los otros.</p>

    <p>En el Centro Nacional de Diagnóstico para las Enfermedades Emocionales podemos brindarles la asesoría y apoyo psicológico de manera gratuita las 24 horas del día llamando al 01800 911 66 66 opción 3, confíen en nosotros, podremos orientarles de manera profesional y confidencial. centrodiagnostico@serdelizsisepuede.com.mx</p>
	<hr>
</div>