<div class="articulo">
	<h1>El amor no mata, la violencia sí</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por Psic. Gloria Patricia Carrillo Durán</i></span></p>
	<img src="images/violencia_main.jpg" alt="">
    <p>Al establecer una relación de pareja, se inicia con una serie de ilusiones, proyectos y creencias relacionadas al bienestar.</p> 

    <p>Pero ¿qué pasa cuando la ilusión del amor se convierte en una tormenta de sufrimiento creciente?, la cual inicia como una llovizna y puede terminar como un chubasco mortal, donde sacar el paraguas no basta.</p>

    <p>Es importante que hablemos del tema, que aceptemos que la violencia no es una práctica sana aunque sea común y que reconocer el problema es el primer paso para ponerle fin.</p>

    <p>La violencia intrafamiliar representa un desequilibrio de poder y abuso a los derechos humanos, una vez que se presenta va en aumento constante, desafortunadamente esta tan arraigada en las prácticas cotidianas que puede pasar desapercibida.</p>

    <p>La violencia intrafamiliar es un vicio social que revela una discriminación de género. En México representa la principal causa de muerte entre mujeres de 25 y 45 años de edad. Aproximadamente 6 de cada 10 mujeres mayores de 15 años ha experimentado al menos un acto violento y en la mayoría de los casos el agresor es su pareja, por si esto fuera poco una de cada cinco muertes violentas femeninas tiene lugar en el hogar.</p>

	<hr>
</div>