<div class="articulo">
	<h1>El príncipe con otro tono de azul</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por Psic. Amy Torres Rodríguez</i></span></p>
	<img src="images/articulos/amar_con_locura_o_con_cordura.jpg" alt="">
    <p>Trata de ubicarte en tu infancia, de ser posible en ese momento cuando comenzaste a imaginar a tu príncipe azul. Muy probablemente es bien parecido, de rasgos atractivos y cuerpo varonil. Aunque estas características no son suficientes, también lo soñabas siendo todo un caballero, amable y cariñoso.</p> 

    <p>En efecto, a lo largo del tiempo se va construyendo mentalmente al hombre que se desea, y se termina con un príncipe que probablemente tiene otra tonalidad de azul.</p>

    <p>¿Qué ocurre cuando no se cumplen estos aspectos?</p>

    <p>Las opciones son varias; pensar que todas las relaciones son iguales, preferir aceptarle así para no estar sola, escoger no tener pareja, o bien surge la idea del “yo puedo cambiarlo”.</p>

    <p>En ésta última opción, resulta tan fuerte la idea que las mujeres se confecciona el traje de súper-heroínas y se realizan intentos titánicos por “moldearlo a su príncipe a su gusto”.</p>

    <p>De ser necesario, se buscan instituciones para que les ayuden con “su problema” ¿Cuál? Cambiar a ese hombre que tienen por el que desearían tener.</p>

    <p>Es común centrar la atención en “defectos” o “errores” y no en aquellas ventajas. Siendo así, al no obtener los resultados esperados, se forma un estrés intolerable en la pareja.</p>

    <p>Por lo tanto, el enojo, la ansiedad, la desesperación y la tristeza pudieran ser sentimientos de cada día. las presiones y las críticas aumenten en frecuencia y grado y dan como resultado, una mala comunicación y la interacción de ideas se vuelve un caos.</p>

    <p>Habría que tomar en cuenta que el ideal de una pareja se puede disfrazar de expectativas tan altas que éstas no se puedan alcanzar. Y antes de querer cambiar al otro habría que analizar “el para qué se quiere hacer” y reflexionar en sí, es la persona o la relación misma la que requiere de un vistazo profundo y honesto que lleve al cambio.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>

	<hr>
</div>