<div class="articulo">
	<h1>Época de cambios constantes y repentinos</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/epoca_de_cambios_constantes_y_repentinos.jpg" alt="">
    <p>Físicamente su cuerpo puede cambiar drástica y desproporcionadamente, por lo que se pueden sentir poco atractivos e inferiores, disminuyendo de esta manera su autoestima.</p>

    <p>Sexualmente comienzan a explorar nuevas sensaciones; surgen los juegos sexuales, que consisten en experimentar las primeras caricias; en un principio es común que los niños practiquen deportes en donde surgen los acercamientos tales como las luchas o el foot-ball, y las niñas desarrollen una relación estrecha con "sus mejores amigas";posteriormente surge la coquetería y el encuentro con su grupo de amigos, en el cual se refugian debido a que sus padres dejan de ser su centro de atención: La relación con los amigos de su edad contribuye a que adquieran un sentido de identidad definido.</p>

    <p>Es común que los adultos al percibir físicamente al adolescente como un joven, de repente comiencen a tratarlo y a exigirle que se comporte como tal, cuando que unos meses atrás lo tratasen como niño: esto les crea una gran confusión y dolor, por lo que suelen sentirse incomprendidos.</p>

    <p>Surgen los desacuerdos debido a que comienzan a pensar diferente que sus padres y a buscar su propia independencia.</p>

    <p>Toda esta problemática tan cambiante y de adaptación, puede provocar el desarrollo de angustia, inseguridad, miedo y ansiedad.</p>

    <p>Sus sentidos se encuentran desarrollados intensamente, por lo que es recomendable que se practique algún deporte para liberar toda la energía. Es la etapa de la experimentación y del riesgo.</p>

    <p>Segundo en generar en el interior de la familia un ambiente de confianza y comunicación abierta, esto puede ser a través de:</p>

    <p>Si el adolescente presenta un aislamiento y retraimiento en exceso, en conjunto con otras serie de características es recomendable realizar una valoración psiquiátrica ya que puede tratarse de un caso de esquizofrenia o depresión maniaca (la esquizofrenia suele iniciar alrededor de los 18 años), aunque es importante resaltar que estos problemas son muy poco comunes (uno por ciento de la población).</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>