<div class="articulo">
	<h1>¿Es recomendable obligar a un adicto a internarse?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/es_recomendable_obligar_a_un_adicto_a_internarse.jpg" alt=""> 

    <p>La adicción es una enfermedad y como tal tiene una evolución, el usuario de sustancias inicia consumiendo para experimentar, hasta que genera una dependencia, que le hace consumir de forma compulsiva, lo que le provoca terribles efectos físicos cuando deja de hacerlo.</p>

    <p>Son conocidas las historias de aquellos que roban para conseguir la droga, que maltratan, o que pierden el trabajo y la familia debido a seguir consumiendo; lo que genera frustración, dolor y destrucción.</p>

    <p>Conforme avanza la enfermedad la familia intentará adaptarse para restablecer el equilibrio, sin embargo, sin apoyo profesional, estas adaptaciones llevarán al enfermo a consumir en mayor cantidad la sustancia.</p>

    <p>Un ejemplo de esto es cuando los familiares ingresan en contra de su voluntad al enfermo en un anexo pensando que de esta forma se recuperará, lo que en realidad genera es mayor resentimiento y menor compromiso por parte del enfermo para su tratamiento. Esta acción pondrá en riesgo su salud física y emocional; cuando salga, posiblemente consumirá la droga en mayor cantidad debido a la frustración que podrá experimentar. Debemos entender que estamos frente a una enfermedad que genera la perdida de voluntad del paciente y esto explica porque el usuario de sustancias pareciera que no comprende la situación tan grave que vive, por lo tanto, la enfermedad solo cederá ante un tratamiento.</p>

    <p>Las recomendaciones son: acepta que el enfermo debe acudir por su voluntad a su rehabilitación, busca asesoría profesional para que ustedes, los padres, generen un cambio dentro del círculo familiar en cuanto a las reglas y límites que se establecen en casa y no recurras a la violencia física o emocional, A continuación se presenta un cuestionario para que identifiques si haz brindado o no factores que protejan a tu familiar de seguir consumiendo, Contesta Si o No.</p>

    <ol type="1">
    	<li>¿Me encargo de culpar al enfermo de todos los problemas que hay en la familia?</li>
    	<li>¿Tengo la idea de que lo que hace falta es un poco de disciplina y he arremetido física o verbalmente contra él?</li>
    	<li>¿Lo trato como a un niño y asumo las responsabilidades que pueda no importando mi propia salud física o emocional?</li>
    	<li>¿Trato que los demás no se den cuenta de su adicción e invento excusas para justificarlo?</li>
    	<li>¿Lo he ingresado en contra de su voluntad en un anexo con la esperanza de que entienda?</li>
    	<li>Cuando él menciona que se siente mal físicamente ¿Le he dicho que es un vicioso y que el se buscó estar así?</li>
    </ol>

    <p>Si contestaste que Si a alguna de las preguntas es recomendable que busques apoyo profesional para que los especialistas te asesoren y te informen sobre qué hacer y a dónde llevar a tu familiar adicto a tratamiento.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>