<div class="articulo">
	<h1>Etapa de reencuentro</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/etapa_de_reencuentro.jpg" alt="">
    <p>La vejez puede convertirse en una experiencia sumamente agradable, placentera y propicia para cosechar y disfrutar de los logros obtenidos. Por supuesto, esto depende de varios factores tales como el concepto que tiene la cultura y por ende, el individuo, de esta fase, el apoyo de la familia, la estabilidad económica, etc.</p>

    <p>Una de las principales fuentes de estrés en la etapa, es el rechazo y la actitud negativa de la sociedad hacia los ancianos, por lo que la persona puede expresar la necesidad de afecto y apoyo; es común que terminen por aislarse.</p>

    <p>Si la persona está satisfecha con lo que ha alcanzado, logrará aceptar el ciclo de vida como algo natural, y se preparará para enfrentar la muerte, aprovechando el tiempo libre para iniciar o continuar proyectos personales como emprender un negocio, terminar una carrera, ingresar a algún grupo de esparcimiento, etc.</p>

    <p>Uno de los problemas que pueden presentarse en esta etapa deriva de la jubilación, pues el esposo se queda en la casa a "invadir" un terreno que anteriormente pertenecía sólo a la esposa, por lo que se hace necesario hablar y mantener un límite claro en los espacios para que cada uno pueda funcionar de manera independiente.</p>

    <p>A esta edad los hijos ya se han casado o se han independizado de los padres, por lo que se puede generar una crisis si existe la dependencia emocional hacia los mismos, o bien, se puede experimentar la plenitud y el reencuentro con la pareja, ya que podrán gozar del tiempo y energía para comunicarse, convivir, y disfrutarse mutuamente.</p>

    <p>El papel de abuelos puede ser también una nueva faceta que les permita descubrir o poner en práctica nuevamente sus recursos como protectores, guías y disfrutar de los niños sin tanta responsabilidad.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p> 

	<hr>
</div>