<div class="articulo">
	<h1>Hijos rebeldes ¿Por qué no obedecen?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/hijos_rebeldes_por_que_no_obedecen.jpg" alt="">
    <p>Las figuras de autoridad, están presentes en los diferentes ámbitos en que nos desarrollamos: en el área escolar por los maestros; en el área laboral, por los jefes; como ciudadanos, los gobernantes y en la familia, los padres. En general se puede decir, que a una autoridad débil se le falta al respeto.</p>

    <p>Partiendo de dicha idea, existen algunas cualidades sobresalientes enfocadas a tu figura como padre o madre, que ameritan mención: en primer lugar, la firmeza, relacionada con el "cumplimiento de la palabra" por ejemplo: Un padre va a ir a la tienda de la esquina, el hijo(a) dice -"yo voy"-, el padre dice -"no, por que no te voy a comprar nada"-, el hijo dice -"no pido nada"-. El padre lo lleva, ya en la tienda, el hijo usa diferentes maneras para manipular, hasta que el padre se enfada y dice -"¡ten ya cállate!"- y termina comprándole, faltando a su palabra y pisando, el mismo padre, su propio papel como autoridad. La siguiente cualidad, es la congruencia, es decir, que como padre, seas con tu actuar, testimonio de lo que a tu hijo le pides. Ejemplo:- Un padre dice -"mira traes el lonche de tres días en la mochila"-, el hijo se asoma a observar el cuarto del padre y se encuentra en desorden.</p>

    <p>Otra cualidad son los valores, como base para crear las reglas familiares. Mencionaré otro ejemplo, un padre da permiso de llegar más tardar a las 12:00 a.m. por prevención y tranquilidad (dos valores importantes para la salud física y emocional), pero si el padre tiene invitados, permite llegue a las 3:00 a.m. para tener privacidad; entonces sus reglas y actitudes a veces dependen de su estado de ánimo y no de sus valores. Por último: la justicia, esto es, que respondas a las situaciones de acuerdo a la magnitud del evento, evitando insultos y/o golpes. Es importante que ayudes a que tu hijo aprenda que cada acción tanto positiva o negativa, tiene una consecuencia.</p>

    <p>La cooperación de tus hijos requiere no sólo de una autoridad firme y congruente, sino también de alimento emocional, proporcionándoles el juego, tanto tuyo, como de tu pareja o figura de autoridad, mínimo 20 minutos, tres veces por semana. Contesta el siguiente cuestionario para que reflexiones sobre tu forma de educar:</p>

    <ol type="1">
        <li>¿Algunas veces prometo y no cumplo?</li>
        <li>¿Suelo perder el control?</li>
        <li>¿Mi hijo me reta?</li>
        <li>¿Mi hijo hace berrinche?</li>
        <li>¿Rara vez juego con el?</li>
        <li>¿Mi pareja y yo educamos de diferente manera a los hijos?</li>
    </ol>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>