<div class="articulo">
	<h1>Influencia de la sociedad y jubilación</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/influencia_de_la_sociedad_y_jubilacion.jpg" alt="">
    <p>Uno de los cambios más significativos a los que se enfrenta la población de adultos mayores, es la pérdida del empleo, debido a que es en este momento en el que se les jubila o despide en las instituciones en las que laboran, generándoles un sentimiento de inutilidad, porque sienten que ya no son productivos, comienzan a sentirse como una carga para sus familias y en gran medida son relegados por las empresas y por la sociedad, quienes los consideran poco aptos para el trabajo.</p>

    <p>En la actualidad la vida laboral es muy corta, en México, a la persona que rebasa los 50 años le es difícil encontrar trabajo, a pesar de que se encuentre en perfecto estado de salud; en estos casos tiende a presentar ansiedad y miedo, principalmente cuando no cuenta con una pensión asegurada; la situación se agudiza cuando presenta, además, problemas familiares o físicos.</p>

    <p>Se recomienda aprovechar el tiempo para realizar algún oficio lucrativo para el que tengan la habilidad, buscarse actividades que sean de su agrado como: la confección de artículos decorativos (como pinturas, velas, manteles, cerámicas, etc.), ventas por catalogo, reparación de artículos para el hogar, entre otros.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p> 

	<hr>
</div>