<div class="articulo">
	<h1>La sexualidad del mexicano</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/la_sexualidad_del_mexicano.jpg" alt="">
    <p>Dentro de los últimos estudios realizados por diversas organizaciones gubernamentales y ONG´s, hemos encontrado que los temas más investigados o tratados en la materia son:</p>
    <p>El Instituto Nacional de Psiquiatría realizó una investigación en el año 2005 con respecto al tema: "Disfunciones Sexuales Femeninas y Masculinas: Comparación de Género en una muestra de la Ciudad de México".</p>
    <p>La muestra fue seleccionada de pacientes que ingresaron al Instituto Nacional de Perinatología, durante el 2000. Con una muestra de 384 mujeres y 363 varones. (no necesariamente parejas). Resumiendo en el cuadro anterior, las principales disfunciones que se presentaron en el grupo de estudio.</p>
    <p>En el mismo año el Instituto Nacional de Perinatología realizo el estudio "Disfunción sexual femenina su relación con el rol de género y la asertividad", con una muestra de dos grupos: 100 mujeres sin disfunciones sexuales y 100 con disfunciones.</p>
    <p>Encontrando en el grupo con disfunciones, un promedio de 2.54 disfunciones por mujer. Las más frecuentes fueron Deseo Sexual Hipoactivo, Trastorno Orgásmico y Disritmia. Concluyendo que el rol genérico de sumisión en conjunto con la no asertividad y la asertividad indirecta están asociados a la presencia de disfunciones sexuales femeninas.</p>
    <p>Tomando en consideración parte de estos estudios podemos ver la importancia que tienen las disfunciones sexuales y el impacto que generan las convierte en un problema de salud pública.</p>
    <p>Es difícil poder acceder a información precisa en las ONG´s que se dedican a tratar las mismas disfunciones o bien alguna otra temática de sexualidad que este generando algún problema o incomodidad en los consultantes que acuden a ellas. Ya que no se tiene un registro sobre ello, o por lo menos un registro no publicado.</p>
    <p>El Instituto Mexicano de Sexología, La Asociación Mexicana para la Salud Sexual y MEXFAM; por mencionar algunas, han proporcionado información verbal de las temáticas más recurrentes, que recuerdan, son atendidas. En orden en el que se presentan no significa prevalencia o importancia de las mismas:</p>
    <ol type="1">
        <li>Disfunciones sexuales (haciendo un desglose por cada una de ellas, no centrándose solo en Disfunción eréctil o Eyaculación precoz)</li>
        <ol type="a">
            <li>Deseo sexual hipoactivo</li>
            <li>Anorgasmia</li>
            <li>Vaginismo</li>
            <li>Dispareunia</li>
            <li>Aversión al sexo</li>
        </ol>
    </ol>   
	<hr>
</div>