<div class="articulo">
	<h1>Mi pareja me maltrata económicamente</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/mi_pareja_me_maltrata_economicamente.jpg" alt="">
    <p>Una de las formas de maltrato es el maltrato económico, socialmente las mujeres son las que presentan más este tipo de maltrato, lo cual no significa que sea exclusivo de las mismas, en los hombre también se llega a presentar. Las señales de alerta comienzan desde que la persona se desentiende de los pagos más insignificantes. El maltrato va desde presionar a la pareja a realizar pagos pequeños, dejar de aportar económicamente para la manutención de los hijos o pedirle préstamos que nunca pagará. La mayoría de las ocasiones pondrán algún pretexto para no asumir sus responsabilidades.</p>

    <p><span>¿Que hay detrás de este maltrato económico?</span></p>

    <p>Algunas veces una lucha de poderes, en otras una necesidad inconsciente de ver sufrir a la pareja (debido a la relación previa de maltrato con los padres), también puede ser debido a la imitación del modelo de padre que tuvieron y en muchas otras una parte infantil que no ha madurado.</p>

    <p>La relación económica es una buena representación de lo que ocurre en la pareja emocionalmente. Aquellos hombres o mujeres que ofrecen poco de sí mismos y que esconden el dinero, difícilmente entablarán una relación de amor, respeto o compromiso con su pareja. También son personas que no se comprometen en otras áreas de su vida, es común encontrar que no terminaron sus estudios o que cambian constantemente de empleo.</p>

    <p>Muchas mujeres y hombres viven con la idea de que "la persona cambiara", Este tipo de relación puede dejar devastada a la persona si no existe el deseo de cambio por parte del otro. Es común que terminen sintiéndose utilizados, engañados, afectando su confianza y autoestima.</p>

    <p><span>Contesta el siguiente cuestionario para identificar si estás sufriendo maltrato económico:</span></p>

    <ol type="1">
        <li>¿Tu pareja acostumbra olvidar el dinero cuando salen y tienes que pagar tú?</li>
        <li>¿Acostumbra a pedirte prestado, pero difícilmente te paga? </li>
        <li>¿Te pide que por igualdad tú también pagues pero no es equitativo? </li>
        <li>¿Evita darte dinero para el gasto por que él o ella deciden comprarlo todo?</li>
        <li>¿Se desentiende de los pagos de la casa y los hijos porque refiere no le alcanza? </li>
        <li>¿Te amenaza con dejarte de dar el gasto si no lo obedeces? </li>
        <li>¿Se adueña de tu dinero con el pretexto de manejarlo mejor que tú? </li>
    </ol>

    <p>Si respondiste a más de tres con un SI es necesario revisar si no estás siendo víctima de maltrato económico; es necesario que acudas a recibir apoyo Psicológico.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>