<div class="articulo">
	<h1>Obesidad y autoestima</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/obesidad_y_autoestima.jpg" alt="">
    <p>Los mexicanos hemos ido escalando en el índice de nivel Mundial de personas con obesidad y sobrepeso, lo que convierte este tema en un problema de salud pública. Esta situación se ha agravado en los últimos años como consecuencia de un estilo de de vida en el que prevalece la ingesta de comida “chatarra” y el sedentarismo. No obstante, el aspecto emocional también es importante, ya que, por ejemplo, se suele evadir el displacer con la comida, lo que resulta en personas que ante la ansiedad o la tristeza, comen de manera excesiva.</p> 

    <p>Además de las complicaciones físicas y enfermedades relacionadas con la obesidad, las personas pueden desarrollar otros problemas como: baja autoestima provocada por las burlas, el rechazo y la presión social; inseguridad y vergüenza en las relaciones sociales; limitaciones para participar en algunas actividades, por mencionar algunas implicaciones que afectan la calidad de vida. Más aún, la obesidad puede ser la expresión de alguna dificultad en los ámbitos emocional, familiar, escolar y/o laboral que la persona no logra identificar o enfrentar.</p>

    <p>Por lo general, los tratamientos para la obesidad se centran en la modificación de los hábitos alimenticios y en la implementación de una rutina de actividad física, pero es característico el abandono o interrupción de las dietas o una fluctuación constante entre la “resignación” y la lucha frenética para bajar de peso, con los consiguientes sentimientos de frustración, culpabilidad y devaluación.</p>

    <p>Lo que se suele dejar de lado, es precisamente la importancia del aspecto psicológico y la necesidad de llevar un tratamiento integral para la obesidad, en el cual a través de la psicoterapia se identifique el o los problemas que la persona trata de resolver a través de la ingesta excesiva de comida y logre encontrar otras formas de manejar sus emociones.</p>

    <p>¿Tus emociones te controlan, y te impiden ser feliz? Comunícate con nosotros y con gusto te atenderemos. 01 800 911 6666 centrodiagnostico@serfelizsisepuede.com.mx</p>
	<hr>
</div>