<div class="articulo">
	<h1>Obsesión por la ex pareja</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por Psic. Amy Torres Rodríguez</i></span></p>
	<img src="images/articulos/obsesion_por_la_ex_pareja.jpg" alt="">
    <p>Escribir punto final a una relación no siempre es real, se dejan puntos suspensivos y hasta se pueden escribir signos de interrogación, cuando de manera “casual” se encuentra al ex en alguna red social.</p> 

    <p>Redes como Facebook, Twitter o WhatsApp, forman parte de nuestra vida cotidiana, facilitando el contacto entre las personas, pero éstas han rebasado por mucho la intimidad de los usuarios con la actividad denominada “stalkear” (acosador), sobre todo al tratarse de una expareja.</p>

    <p>Ser un “stalker” implica checar su muro, ver sus fotografías (en especial si son con su pareja actual), seguir sus conversaciones e incluso pedir prestada otra cuenta para ponerse al tanto de sus movimientos.</p>

    <p>Observar minuciosamente las actualizaciones, revisar los últimos comentarios o eventos, se ha convertido en la acción de moda, pero lo que hay que tomar en cuenta es que esta conducta habla de una no aceptación de la realidad, cuál, pues el termino de la relación de pareja o bien una necesidad de esperar que le vaya mal al otro(a) para así pensar que esta pagando por haber abandonado.</p>

    <p>En ocasiones la añoranza de ese ser querido invade y despierta la curiosidad de saber lo que le ha pasado. Pero estar al pendiente de la vida del otro puede generar fantasías de poseer o continuar con la persona. Se crea una relación imaginaria donde se ven involucrados sentimientos, ideas de infidelidad o de una posibilidad para regresar.</p>

    <p>Sin embargo inmiscuirse en la vida de la expareja y conocer los detalles de su nueva relación. Al final de cuentas puede provocar sufrimiento, ansiedad, arrepentimiento, envidia o culpa entre otros sentimientos.</p>

    <p>Vigilar al otro no cambia el hecho de la separación, y hay que tomar en cuenta que un impulso puede terminar en una obsesión. La aceptación es fundamental para el crecimiento personal.</p>

    <p>Si tú o algún conocido esta atravesando por esto, nosotros podemos ayudarte, llamen al Centro Nacional de Diagnóstico para las Enfermedades Emocionales, <span>01 800 911 66 66 opción 3 o bien escriban a centrodiagnostico@serfelizsisepuede.com.mx</span></p>

	<hr>
</div>