<div class="articulo">
	<h1>Obstáculos psicológicos para bajar de peso</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por Lic. Amy Torres Rodríguez</i></span></p>
	<img src="images/articulos/obstaculos_psicologicos_para_bajar_de_peso.jpg" alt="">
    <p>Si bien es cierto que para bajar de peso hay que mantener un equilibrio entre las calorías que se consumen y las que se queman, se han dejado de lado aspectos psicológicos que mantienen en la obesidad a quienes desean reducirla.</p> 

    <p>Cuántas veces hemos escuchado que se necesita de mucha fuerza de voluntad para bajar de peso, pero no solo se requiere de eso. Hay que conocer factores como la ansiedad, depresión, negación, soledad o el enojo que se esconden detrás de la obesidad. Todos ellos son terrenos correspondientes a la psicología y, que si no se atienden, dificultan tanto el bajar de peso como el mantenerse, una vez que se llega a la meta deseada.</p>

    <p>El primer obstáculo para bajar y mantener un peso ideal es la falsa creencia de que una dieta es temporal. La idea de "temporalidad", además de que tiene como consecuencia un rebote seguro, rompe con la permanencia del hábito de la buena alimentación que se debe llevar de por vida.</p>

    <p>Por otro lado, la palabra "dieta" se asocia directamente con la de "sacrificio", que es igual a sufrimiento, y sufrimiento equivale a abandonar las metas. Por si fuera poco —y podría asegurar que a muchos les ha pasado—, cuando piensas en dieta, te da hambre, porque tu mente está hiperatenta a tu sensación de apetito. Es como cuando te dicen: "no voltees, y volteas".</p>

    <p>Así que, más que pensar en una dieta, se debe de pensar en modificar e instalar nuevos hábitos alimenticios.</p>

    <p>Una vez entendido que los cambios deben ser permanentes, hay que plantearte objetivos reales sobre el peso. Tener objetivos distorsionados genera frustración y, como consecuencia, se abandonan los propósitos. Tu peso ideal no siempre concordará con tu imagen deseada. Si tienes problemas con la aceptación de tu cuerpo, es necesario trabajar con tu autoestima.</p>

    <p>Con la idea de un hábito permanente, y con objetivos reales, los siguientes aspectos que debes tener en mente son paciencia y disciplina. Muchas personas se desesperan de no ver cambios rápidos en su cuerpo, y aquí la consecuencia, no solo es el olvidarse del proyecto de bajar de peso, sino caer en conductas destructivas, como pasar periodos largos de inanición (anorexia), vomitar después de comer (bulimia), exagerar en una alimentación terriblemente saludable, que raye en la obsesión (ortorexia) o caer en la adicción al ejercicio (vigorexia).</p>

    <p>Dentro de los aspectos psicológicos que interfieren para bajar y mantener el peso ideal son los problemas emocionales que hay detrás. Muchas personas desarrollan una adicción incontrolable a la comida; otros, contra la idea común de que la depresión quita el hambre cuando se deprimen, caen en la glotonería.</p>

    <p>Frecuentemente, las personas ansiosas comen como una forma de aliviar la tensión que sienten. Recurren a la comida como una forma de relajarse. También es común escuchar gente que piensa que no tienen problemas con su sobrepeso, y desarrollan una "falsa autoestima" creyendo que así "son felices", cuando en realidad solo enmascaran el problema. Alguien que verdaderamente se ama, no se daña, y hay quienes se dañan comiendo.</p>

    <p>Todos estos problemas encierran una afección emocional que, si no se atiende, el régimen alimenticio y ejercicio, no serán suficientes para alcanzar y mantener un peso adecuado y saludable. Recuerda la frase: "cuerpo sano en mente sana".</p>

	<hr>
</div>