<style>
    @media screen and (max-width: 767px) {
        .articulo img {
          left:-130px;
        }
    } 
</style>
<div class="articulo">
	<h1>¿Problemas de aprendizaje o falta de motivación?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/problemas_de_aprendizaje_o_falta_de_motivacion.jpg" alt="">
    <p>"Pero qué inútil eres", "tragas como cerdo", "eres un tonto", "si no te portas bien, te voy a dejar de querer", "no me vengas con tus tonterías ahorita porque estoy ocupada".</p>
    <p>Algunas de estas frases ¿te recuerdan algo?, tal vez las oíste de tus padres o las has dicho a tus hijos. Son expresiones que surgen del enojo, del cansancio y de la frustración que se van acumulando en la vida diaria, pero que marcan la vida de los niños.</p>
    <p>Esta presión constante por parte de los adultos, padres, tíos, maestros o cuidadores, va generando en los niños la idea de tener que hacer todo "bien", para poder ser querido y valorado. Los niños necesitan de la confirmación de los adultos para ir construyendo su autoestima, su autoconcepto; sin embargo, este se ve alterado y genera en ellos la idea de "no valer", "de ser tontos", si no complacen a los demás.</p>
    <p>Los niños crecen con la idea de perfección, y se les genera una ansiedad constante cuando sienten que no han realizado las tareas de manera adecuada para los "otros"; viven pendientes de la aprobación de los demás, sobre todo de los padres o tutores.</p>
    <p>Algunas de las características de los niños con esta obsesión de perfección son la ansiedad por llegar a tiempo a cualquier evento, rigidez en la conducción de los adultos, "el niño bien portado", y enojo excesivo cuando siente que algo no hizo bien, incluso en los juegos.</p>
    <p>Estas conductas rígidas son avaladas por los padres u otros adultos, y se combinan con la idea de que tiene que "competir" para ser el mejor y llegar a "ser alguien en la vida". Señores y señoras, su hijo o hija ya es alguien en esta vida desde el momento en que nace, una carrera no nos da ese estatus de gente valiosa, valemos solo por el hecho de ser personas.</p>
    <p>Si quieren ayudar a sus hijos o alumnos a ser mejores personas, no les denigren con apodos, no les humillen porque "no obedecen", ayúdenles a que piensen, valoren, tomen decisiones y aprendan a ser responsables de sus actos; a que aprendan que el estudiar es la oportunidad de crecer intelectualmente, de conocer el pasado para criticar el presente y construir un mejor futuro.</p>
    <p>Si quieren conocer más del tema o requieren una asesoría psicológica, llamen al Centro Nacional de Diagnóstico para las Enfermedades Emocionales.</p>
	<hr>
</div>