<div class="articulo">
	<h1>¿Qué es la violencia familiar?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/que_es_la_violencia_familiar.jpg" alt="">
    <p>La violencia se suele asociar sólo con golpes o insultos, sin embargo, éstas son sólo algunas de sus manifestaciones, pues en realidad es todo acto de poder dirigido a ejercer un dominio sobre algún miembro de la familia, por lo cual la gama de conductas violentas, es más amplia, siendo algunos ejemplos la indiferencia, el abuso económico o los celos.</p>

    <p>De acuerdo con cifras reportadas por la Dirección General de Equidad y Desarrollo Social, 96 de cada 100 personas que viven violencia, son mujeres, dato que muestra la violencia como consecuencia de una educación desigual basada en el género. De acuerdo con esta, se asignan ciertas características y funciones dependiendo del sexo; así, ttradicionalmente la mujer ha sido destinada a labores domésticas (cuidar su hogar, "atender" al marido e hijos), y dedicarse a "dar", más no a "recibir", ya que esto le genera "culpa", en tanto que a los hombres, se les ha educado para conquistar a través de la violencia.</p>

    <p>Hay varias formas de clasificar a la violencia, una de ellas permite hablar de tres tipos:</p>

    <ol type="1">
        <li>Física: Golpes, empujones, rasguños, quemaduras.</li>
        <li>Psicológica: Insultos, celos, amenazas, humillaciones, peleas en presencia de familiares y amigos, limitaciones o prohibición de actividades.</li>
        <li>Sexual: Celos, obligar a realizar actos sexuales no deseados, burlas o humillaciones sobre la actividad sexual.</li>
    </ol>

    <p>Es importante señalar que en la mayoría de los casos no se presenta un solo tipo de violencia, además de que se suele presentar de forma recurrente, lo cual ha sido denominado por los especialistas como el "círculo de la violencia" y lo describen de la siguiente manera:</p>

    <ol type="1">
        <li>Agresión y violencia </li>
        <li>Negación:"No pasa nada", "Me lo merezco, solo fue un golpecito"</li>
        <li>Dependencia: "El va a cambiar", "¿Qué hago sin él?"</li>
        <li>Arrepentimiento del agresor (etapa de "luna de miel")</li>
        <li>Agresión y violencia otra vez</li>
    </ol>

    <p><span>¿Qué hacer en caso de vivir una situación de violencia familiar?</span></p>

    <ol type="1">
        <li>Aceptar que la violencia no es natural y que nada la justifica</li>
        <li>Solicitar apoyo especializado</li>
        <li>Aprender de la experiencia: el mejor momento para el cambio es HOY</li>
    </ol>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>