<div class="articulo">
	<h1>¿Qué es la familia?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/que_es_la_familia.jpg" alt="">
    <p>Aunque todos provenimos de una familia, pocas veces nos detenemos a pensar en su origen o su función y casi damos por hecho que el tipo de familia madre-padre-hijos, es el único que existe, pero no es así.</p> 

    <p>Empecemos por señalar que la familia es un conjunto de personas unidas por un lazo de parentesco y que tiene como principales funciones el permitir la reproducción de los seres humanos y fomentar su integración a la sociedad, aunque esta última función la desempeña apoyada por otras instituciones como la escuela o la religión, lo que aunado al hecho de que cada vez hay mayor diversidad de tipos de familia, ha dado pie a cuestionar el cumplimiento de sus funciones o incluso se llega afirmar que los valores se están perdiendo o que la familia está a punto de desaparecer. Pero estos planteamientos dejan de lado el hecho de que la familia, desde su origen, ha estado en constante evolución y esto no ha implicado su disolución.</p>

    <p>En el Centro Nacional de Diagnóstico para las Enfermedades Emocionales podemos brindarles la asesoría y apoyo psicológico de manera gratuita las 24 horas del día llamando al 01800 911 66 66 opción 3, confíen en nosotros, podremos orientarles de manera profesional y confidencial. centrodiagnostico@serdelizsisepuede.com.mx</p>
	<hr>
</div>