<div class="articulo">
	<h1>¿Qué hago si el amor se acabó?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/que_hago_si_el_amor_se_acabo.jpg" alt="">
    <p>Sabemos que el amor es el sentimiento que mueve al mundo, no podemos concebir cualquier relación, amigos, familia, pareja, sin este componente. ¿Cómo podríamos definir el amor? Se habla de un lazo emocional en donde se procura el bienestar de la persona amada, sin descuidar el propio. El amor en las parejas es definido como el vínculo afectivo y sexual que las une y las lleva ha establecer un compromiso de unión y responsabilidad mutua que permitan mantener la relación. Estos vínculos van en el sentido de generar pertenencia en el otro, los espacios compartidos, los objetivos o metas en común alcanzadas, la intimidad compartida, en donde se es parte de la vida del otro.</p> 

    <p>Pero una realidad es que el amor no dura toda la vida, como en los cuentos de hadas, el amor acaba y no es un recurso renovable. Cuando en las parejas se instala la monotonía, el hartazgo, y comienzan los problemas de comunicación en donde el dialogo se vuelve un reclamo permanente y se piensa que ya nada esta marchando bien; bueno, pues aún en estos casos puede que exista todavía el sentimiento de amor, pero está empañado por todos los conflictos presentes. No obstante, a través del apoyo psicológico se puede rescatar la relación y trabajar en conjunto para mejorar la comunicación.</p>

    <p>Existen ocasiones en donde a pesar de no haber tantos conflictos, de tener una comunicación de respeto, el amor se termina. Pero la extinción del amor va más allá del enojo o la monotonía, simplemente se acaba, y esto es igual de doloroso para quién es desamado como para el que deja de amar.</p>

    <p>En muchas ocasiones este desamor, por no quererlo afrontar, por miedo a lastimar al compañero, o por no lastimar a los hijos, se calla; o bien a pesar de que la persona que ha sido dejada de amar identifica que la relación no es la misma, no quiere afrontar la pérdida y se aferra por todos los medios para mantener a la persona, aún a costa de su dignidad. Esto lleva a la pareja a vivir un martirio constante, a presentar pleitos que pueden ir subiendo de tono, a pasar de las agresiones verbales a las físicas, a mantener relaciones de pareja alternas sin esconderlo, todo con el afán de que se de cuenta la pareja que el amor se acabó.</p>

    <p>¿Qué hacer? por salud psicológica, cuando el amor se acabó en la relación de pareja es recomendable terminarla, es difícil afrontar la pérdida en cualquiera de los dos sentidos, dejar de amar o ser desamado. Pero es un proceso que a la larga lleva a ambas partes a vivirse sin tanto odio y frustración, ayudando con esto a una mejor integración de los hijos con los padres, cuando los hay.</p>

    <p>El siguiente cuestionario es para identificar si el amor ya se acabo, y puedas buscar el apoyo adecuado.</p>

    <ol>
    	<li>¿Cuándo estas con tu pareja sientes un vacío y el deseo de estar con otras personas?</li>
    	<li>¿Cuándo piensas en la idea de terminar la relación te angustia más el hecho de verte solo que el dejar de ver a la pareja?</li>
    	<li>¿Permaneces en la relación de pareja por no lastimar a tus hijos?</li>
    	<li>¿Continúas con tu relación de pareja por el temor al qué dirán?</li>
    	<li>¿Identificas que a pesar de llevarte bien con la pareja, ya no sientes el deseo, ni el amor hacia ella?</li>
    	<li>¿Procuras pasar el mayor tiempo posible lejos de la pareja?</li>
    	<li>¿Llevas a cabo acciones violentas o denigrantes con la intención de que tu pareja se canse y decida terminar la relación?</li>
    </ol>

    <p>Si respondiste a más de tres preguntas con un SI, te sugiero buscar asesoría psicológica sobre el tema para poder llegar a un buen termino en esa relación.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>