<div class="articulo">
	<h1>¿Soy bebedor social o alcohólico?</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/soy_bebedor_social_o_alcoholico.jpg" alt=""> 

    <p>En México más de 32 millones de personas consumen alcohol poniendo en riesgo su salud o la de su familia. Suicidios, violencia, homicidios, problemas laborales, accidentes de transito, irritabilidad, cirrosis hepática entre otros, son los efectos del consumo de alcohol.</p>

    <p>En nuestra cultura es común el consumo "explosivo" de fin de semana, en donde la persona bebe grandes cantidades de alcohol por ocasión, de tal forma que llega a producir intoxicación aguda (embriaguez). Motivos no faltan: una fiesta, en el "antro", por estar contento o por estar triste, y no es tan sencillo mantener un control sobre la cantidad; se suelen transgredir los limites que dice la Organización Mundial de la Salud: deberían ser a razón de una copa por hora y no mas de tres por ocasión en las mujeres o de 5 en los hombres.</p>

    <p>Cuando bebemos más de lo establecido se realiza un abuso de la sustancia. Es común el pensar que el bebedor social solo consume en las fiestas, sin saber que en realidad está abusando del alcohol y que esto es la puerta de entrada hacia la dependencia. Según información de Centros de Integración Juvenil, el bebedor social se denomina cuando la ingesta del alcohol es ante compromisos sociales, no se busca el beber y este se puede evitar ya que no se percibe como necesario para divertirse o relacionarse.</p>

    <p>En el otro extremo esta el Alcohólico, necesita consumir alcohol para afrontar las circunstancias de su vida, para funcionar socialmente.</p>

    <ol type="1">
    	<li>¿Constantemente pienso y comento sobre tomar alcohol?</li>
    	<li>¿Bebo para distraerme, para olvidar los problemas, para tranquilizarme o para poder dormir?</li>
    	<li>¿Después de tomar tengo nauseas, temblores, cansancio o irritabilidad?</li>
    	<li>¿Me he llegado a sentir avergonzado (a) por mi conducta cuando bebo?</li>
    	<li>¿He seguido bebiendo a pesar de que tengo problemas con mi familia y/o amigos?</li>
    	<li>¿Bebo más cantidad de alcohol que en el pasado?</li>
    	<li>¿Bebo al día siguiente de tomar para "curarme la cruda"?</li>
    	<li>¿He tenido la necesidad de beber a escondidas?</li>
    	<li>¿He llegado a olvidar lo que ocurre cuando estoy ebrio?</li>
    </ol>

    <p>Si contestaste que SI a por lo menos tres preguntas, es probable que tengas problemas con tu forma de beber.</p>

    <p>Algunas personas presentan necesidad de consumir alcohol, otras presentan ideas constantes de beber para aliviar síntomas de depresión o ansiedad; en cualquiera de los casos hay una solución para lograr el bienestar y el crecimiento; no basta con tener la voluntad de dejar de beber o con ingerir medicamentos podremos librarnos de esta terrible enfermedad: es necesario iniciar un tratamiento integral, ya que esta es una enfermedad que debe tratarse como tal.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>