<div class="articulo">
	<h1>Trastorno de Déficit de Atención</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/trastorno_de_deficit_de_atencion.jpg" alt="">
    <p>El número de madres que se acercan a nuestra línea de apoyo psicológico en el Centro Nacional de Diagnóstico para la Enfermedades Emocionales (CNDEE), ha ido en aumento en relación a un tema en particular.</p>

    <p>Quizá sus hijos han recibido un diagnóstico de Trastorno de Déficit de Atención, pero ¿qué especialista se los hizo? ¿las maestras?. Sólo que ellas, fuera de su labor, que es educar académicamente y ayudar también en la formación de valores, no cuentan con una carrera alterna de medicina o psicología. Hay quienes sí, pero no la mayoría.</p>

    <p>Y son estas maestras que, cuando ven a un niño inquieto o poco atento, se toman la atribución de dar un diagnóstico de esta naturaleza, y, de paso, asustar a las madres y, en la mayoría de los casos, también, estigmatizar a los niños. Acto seguido, las madres se dedican a buscar ayuda especializada, con una serie de gastos que salen de su presupuesto familiar y aúnan presión a la relación de pareja, ya que los padres se empiezan a responsabilizar del problema. Los niños inquietos, poco atentos o distraídos, no dan elementos suficientes para decir que tienen un déficit de atención con hiperactividad. Muchos niños tienden a aprender más rápido que los demás del grupo y esto los llevará a desesperarse fácilmente y estar inquietos.</p>

    <p>Si en casa se está atravesando por problemas como divorcio, duelo, económicos, cambios de casa o la llegada de un nuevo hijo, por mencionar algunos, también pueden contribuir al cambio de comportamiento del niño. Si en el hogar hay poco espacio para jugar o los padres son estrictos en la educación, el niño va a ver en la escuela un espacio para divertirse. Y, claro, en la minoría de los casos, efectivamente se puede tratar de un Trastorno de Déficit de Atención, algo que las maestras podrían detectar, después de descartar otras causas del porqué la distracción o la conducta impulsiva y pedir a la madre que lleve al niño con el psicólogo infantil, para valorar qué se puede estar presentando. Esto es diferente a hacer un diagnóstico en donde se asegura que los niños tienen dicho trastorno.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>