<div class="articulo">
	<h1>Violencia en el noviazgo: "En el nombre del amor"</h1>
	<hr>
	<p style="text-align:center;"><span><i>Por psicólogos del CNDEE</i></span></p>
	<img src="images/articulos/violencia_en_el_noviazgo.jpg" alt="">
    <p>"Mi amor, no hables de lo que no sabes". "Que tonta (tonto) eres". "Para qué te platico, si no vas a entender". "Te voy a dar otra oportunidad, pero no vuelvas a desesperarme". "¿Por qué no me entiendes? "No sabes hacer nada bien". "Si nada más fue un golpecito, no es para tanto". "Perdóname, no lo vuelvo a hacer"… ¿Algunas de estas frases te son conocidas, las has escuchado alguna vez?</p> 

    <p>En nuestra sociedad la violencia es un fenómeno que se incrementa día tras día. No es difícil encontrarnos con sus diferentes matices en las calles, escuelas, centros de trabajo, tiendas de convivencia, medios de comunicación, hogares y noviazgo.</p>

    <p>Es en el noviazgo donde empiezan a darse los primeros signos de maltrato, los cuales suelen invisibilizarse al confundirlos con muestras de afecto. Debido en gran medida a que este es un periodo donde se ponen en juego emociones, inquietudes, deseos y aspiraciones al conocer a otra persona, puede resultar complejo diferenciar la expresión de afecto, de aquellas conductas que intentan controlar, limitar y maltratar.</p>

    <p>Otro factor que tiene que ver con esa "invisibilización" de la violencia en el noviazgo, es la cultura en la que nos desarrollamos, la cual aporta creencias y modelos de comportamiento que van moldeando la educación de la niña y el niño, con base a estereotipos de comportamiento, según su sexo.</p>

    <p>Los estereotipos de género se apoyan en la idea de que los hombres son independientes, libres, fuertes, racionales, mientras que a las mujeres se les considera dependientes, débiles, sumisas, emotivas, reprimidas para el placer. Es cierto que se ha difundido que la violencia generalmente es propiciada por hombres, cuando en la realidad, también hay muchas mujeres que violentan a la pareja de manera psicológica, verbal y física, está última en menor escala.</p>

    <p>Algunos indicadores claros que permiten detectar si tu hija (o), familiar o conocido viven una relación de noviazgo violenta son:</p>

    <ol type="1">
    	<li>Se limita la convivencia con familiares y amistades</li>
    	<li>Ha cambiado en la forma de arreglo personal</li>
    	<li>El novio (a) de la persona a quien conoces tiene celos excesivos de amigos (as), compañeros (as) y familiares</li>
    	<li>El novio (a) controla los tiempos y actividades de la pareja</li>
    	<li>El novio (a) revisa sus pertenencias como su teléfono, su correo electrónico, su bolsa</li>
    	<li>Existen amenazas y manipulación ("si me dejas me mato"; "si me dejas, no volverás a ser feliz")</li>
    	<li>El novio (a) hace sentir culpable de sus reacciones a su pareja</li>
    	<li>Le ha agredido con insultos, burlas y actitudes de indiferencia</li>
    	<li>Le ha agredido físicamente (jalones de cabello, bofetadas, pellizcos, apretones, empujones)</li>
    	<li>Le ha presionado para tener relaciones sexuales</li>
    </ol>

    <p>Tales indicadores posibilitan percatarnos de una relación de violencia en el noviazgo. Cabe señalar que tales aspectos, en ocasiones no son fáciles de distinguir, sobre todo porque "en el nombre del amor" todo se vale, y los enamorados suelen aislarse y no hacer ningún tipo de comentarios respecto a dicha problemática; sin embargo, es necesario estar alerta y no restar importancia a algún cambio en el estado de ánimo, emocional y de conducta en la persona conocida.</p>

    <p>Asimismo, una manera de prevenir la violencia en el noviazgo es darles la confianza a nuestros jóvenes, como padres, educadores, familiares para tener un diálogo abierto respecto a dicha problemática, que les posibilite expresar sus inquietudes, temores y deseos.</p>

    <p>Si tienes dudas sobre este u otros temas llama al Centro Nacional de Diagnóstico para las Enfermedades Emocionales y con gusto uno de nuestros psicólogos te atenderá de manera gratuita las 24 horas del día, <span>01 800 911 66 66 opción 3 o escríbenos a centrodiagnostico@serfelizsisepuede.com.mx</span></p>    

	<hr>
</div>